<div class="st-desk">
  <div>
    <h2>Application(s) on my Desk</h2>
    <table style="width: 100%">
      <thead>
        <tr>
          <th>#</th>
          <th>App. Refrerence</th>
          <th>Facility Name</th>
          <th>Facility Address</th>
          <th>Date Applied</th>
          <th>RRR</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let app of apps; index as i">
          <td>{{ i }}</td>
          <td>{{ app.reference }}</td>
          <td>{{ app.facilityName }}</td>
          <td>{{ app.facilityAddress }}</td>
          <td>{{ app.dateApplied }}</td>
          <td>{{ app.rrr }}</td>
          <td>{{ app.status }}</td>
          <td>
            <a href="#">View App</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
