<!-- <div (click)="closeAll()">
  <div
    style="
      background-color: rgb(43, 76, 102);
      color: white;
      display: flex;
      align-items: center;
      position: fixed;
      width: 100%;
      top: 0;
      z-index: 2;
    "
  >
    <div class="divmid" style="margin-right: 100px">
      <div>
        <img
          src="assets/image/NUPRC_logo.png"
          style="width: 100px"
          alt="NUPRC Logo"
        />
      </div>
      <div>
        <span
          style="
            font-size: 30px;
            color: rgb(143, 182, 182);
            font-weight: 600;
            text-shadow: 1px 1px 1px rgb(255, 255, 255, 0.9);
          "
          >AUS2</span
        >
      </div>
    </div>
    <div style="display: flex; align-items: center; width: 100%">
      <div
        style="margin: 0 20px"
        [routerLink]="['/' + genk.company, 'dashboard']"
      >
        <span>Dashboard</span>
      </div>

      <div style="margin: 0 20px">
        <span (click)="showApplications()" class="dropdown-toggle"
          >Applications</span
        >
        <div>
          <div
            *ngIf="showapplications"
            (click)="showApplications()"
            class="menumodal"
          >
            <div
              [routerLink]="['/' + genk.company, 'apply']"
              style="margin-bottom: 7px"
            >
              Apply
            </div>
            <div
              [routerLink]="['/' + genk.company, 'myapplication']"
              style="margin-bottom: 7px"
            >
              My Application
            </div>
          </div>
        </div>
      </div>

      <div style="margin: 0 20px">
        <span (click)="showAccount()" class="dropdown-toggle">My Account </span>
        <div>
          <div *ngIf="showaccount" (click)="showAccount()" class="menumodal">
            <div
              [routerLink]="['/' + genk.company, 'companyinformation']"
              style="margin-bottom: 7px"
            >
              Company Profile
            </div>
            <div
              [routerLink]="['/' + genk.company, 'changepassword']"
              style="margin-bottom: 7px"
            >
              Change Password
            </div>
            <div
              [routerLink]="['/' + genk.company, 'messages']"
              style="margin-bottom: 7px"
            >
              Messages
            </div>
            <div
              [routerLink]="['/' + genk.company, 'myschedule']"
              style="margin-bottom: 7px"
            >
              My Schedule
            </div>
          </div>
        </div>
      </div>

      <div>
        <div
          [routerLink]="['/' + genk.company, 'mypermits']"
          style="margin-bottom: 0 20px"
        >
          <span>My Permits</span>
        </div>
      </div>

      <div>
        <div style="margin: 0 20px">
          <span (click)="showTemplate()" class="dropdown-toggle">
            Templates</span
          >

          <div>
            <div
              *ngIf="showtemplate"
              (click)="showTemplate()"
              class="menumodal"
            >
              <span [routerLink]="['/' + genk.company, 'template']"></span>
              <span
                ><a
                  style="text-decoration-line: none; color: green"
                  href="assets/image/WellLocationNotice.xlsx"
                  >Download Template A</a
                ></span
              ><br />
              <hr />
              <span
                ><a
                  style="text-decoration-line: none; color: green"
                  href="assets/image/WellReEntryApplicationForm.xlsx"
                  >Download Template B</a
                ></span
              ><br />
              <hr />
              <span
                ><a
                  style="text-decoration-line: none; color: green"
                  href="assets/image/WellReEntryWellSuspensionPermitPlugandAbandonmentPermitApplication.xlsx"
                  >Download Template C</a
                ></span
              >
            </div>
          </div>
        </div>
      </div>

      <div style="display: flex; margin: 0 40px 0 auto">
        <div class="divmid" style="margin-right: 20px">
          <span class="material-icons">person</span
          ><span> {{ currentUsername?.firstName }}</span>
        </div>

        <div (click)="logout()" class="divmid" st>
          <span class="material-icons">power_settings_new</span
          ><span> Logout</span>
        </div>
      </div>
    </div>
  </div>
  <div class="progress-bar">
    <progress-bar></progress-bar>
  </div>
  <div class="pagestyle">
    <router-outlet></router-outlet>
  </div>

  <div style="display: flex">
    <app-footer></app-footer>
  </div>
</div> -->

<app-company-layout>
  <div class="progress-bar">
    <progress-bar></progress-bar>
  </div>
  <spinner></spinner>
  <div class="pagestyle">
    <router-outlet></router-outlet>
  </div>

  <app-footer></app-footer>
</app-company-layout>
