<!-- <div class="st-desk">
    <h2 class="text-center">Field Office List</h2>
    <div style=" margin-top: 1em;">
        <button  class="btn btn-success btn-sm" style="float:right;"  (click)="open(addOfficeModal)">
            <i class="fa fa-plus"></i>
            Add New
        </button>
    </div>
    <div class="card col-md-12" style="padding: 1.5em;">
        <table class="table table-striped">
            <thead>
                <th>#</th>
                <th>Name</th>
                <th>Address</th>
                <th>State Located</th>
                <th></th>
            </thead>
            <tbody>
                <tr *ngFor="let office of offices; index as i">
                    <td>{{i+ 1}}</td>
                    <td>{{office.name}}</td>
                    <td>{{office.address}}</td>
                    <td>{{office.stateName}}</td>
                    <td>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <ng-template #addOfficeModal let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Add New Phase</h4>
          <button type="button" class="close btn-danger" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
            <form [formGroup] = "form" (ngSubmit)="addFieldOffice()">
                <div class="fomr-group" style="margin-bottom: 10px;">
                    <label>Name</label>
                    <input name="Name" formControlName="Name" class="form-control" />
                </div>
                <div class="fomr-group" style="margin-bottom: 10px;">
                    <label>Address</label>
                    <input name="Address" formControlName="Address" class="form-control" />
                </div>
                <div class="fomr-group" style="margin-bottom: 10px;">
                    <label>State Located</label>
                    <select name="StateId" formControlName="StateId" class="form-control">
                        <option disabled>Select State location</option>
                        <option *ngFor="let state of stateList" [value]="state.id">{{state.stateName}}</option>
                    </select> 
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark  btn-sm" (click)="addFieldOffice()">Create</button>
        </div>
      </ng-template>
</div> -->

<div class="setting-desk">
  <h2 class="page-title bg-red-500 text-red-800">FIELD OFFICES SETTINGS</h2>
  <div>
    <div class="table-group">
      <div class="table-wrapper">
        <generic-table
          [table_title]="tableTitles.fieldOffices"
          [title-color]="'red'"
          [table_keysMappedToHeaders]="fieldOfficeKeysMappedToHeaders"
          [table_content]="offices"
          [noTitle]="true"
          [table_controls_horizontal]="true"
          (onAddData)="onAddData($event, 'fieldOffices')"
          (onDeleteData)="onDeleteData($event, 'fieldOffices')"
          (onEditData)="onEditData($event, 'fieldOffices')"
        ></generic-table>
      </div>
    </div>
  </div>
</div>
