.close-btn {
  @apply text-red-500 rounded-[50%] hover:bg-red-500 p-1 hover:text-white text-xl;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
  -moz-appearance: textfield;
}

.form-field {
  @apply px-2 block text-gray-800 w-full bg-transparent h-10 bg-gray-50 border border-gray-200 rounded mt-1;
}