<div class="container">
  <div class="application-details">
    <h1>CoQ APPLICATION DETAILS</h1>

    <div class="info-sections-wrapper">
      <h2 *ngIf="application.reference">APPLICATION REFERENCE : {{ application?.reference }}</h2>
      <section class="info-section">
        <h3>Reference Information</h3>
        <div class="info-wrapper">
          <div>
            <h5>NOA Application Reference</h5>
            <hr />
            <ng-container *ngIf="application?.appId else noData">
              <span>{{ application?.appId }}</span>
            </ng-container>
          </div>
          <div>
            <h5>Depot Name</h5>
            <hr />
            <ng-container *ngIf="application?.depotName else noData">
              <span>{{ application?.depotName }}</span>
            </ng-container>
          </div>
        </div>
      </section>
      <section class="info-section">
        <h3>Shore Tank Ullage Information</h3>
        <div class="info-wrapper">
          <div>
            <h5>Date of Vessel Arrival</h5>
            <hr />
            <ng-container *ngIf="application?.dateOfVesselArrival else noData">
              <span>{{ application?.dateOfVesselArrival }}</span>
            </ng-container>
          </div>
          <div>
            <h5>Date of Vessel Ullage</h5>
            <hr />
            <ng-container *ngIf="application?.dateOfVesselUllage else noData">
              <span>{{ application?.dateOfVesselUllage }}</span>
            </ng-container>
          </div>
          <div *ngIf="1">
            <h5>Date of Shore Tank AFter Discharge</h5>
            <hr />
            <ng-container *ngIf="application?.dateOfSTAfterDischarge else noData">
              <span>{{ application?.dateOfSTAfterDischarge }}</span>
            </ng-container>
          </div>
          <div>
            <h5>GSV(Litres)</h5>
            <hr />
            <ng-container *ngIf="application?.gsv else noData">
              <span>{{ application?.gsv }}</span>
            </ng-container>
          </div>
          <div>
            <h5>GOV(Litres)</h5>
            <hr />
            <ng-container *ngIf="application?.gov else noData">
              <span>{{ application?.gov }}</span>
            </ng-container>
          </div>
          <div>
            <h5>Qty Reflected on Bill of Lading (MT Air)</h5>
            <hr />
            <ng-container *ngIf="application?.mt_AIR else noData">
              <span>{{ application?.mt_AIR }}</span>
            </ng-container>
          </div>
          <div>
            <h5>Arrival SHIP Figure (MT Air)</h5>
            <hr />
            <ng-container *ngIf="application?.arrivalShipFigure else noData">
              <span>{{ application?.arrivalShipFigure }}</span>
            </ng-container>
          </div>
          <div>
            <h5>SHIP Figure (DISCHARGED) (MT Air)</h5>
            <hr />
            <ng-container *ngIf="application?.dischargedShipFigure else noData">
              <span>{{ application?.dischargedShipFigure }}</span>
            </ng-container>
          </div>
          <div>
            <h5>Name of Consignor/Consignee</h5>
            <hr />
            <ng-container *ngIf="application?.consignorName else noData">
              <span>{{ application?.consignorName }}</span>
            </ng-container>
          </div>
        </div>
      </section>
      
      <section *ngIf="application?.tanks?.length" class="info-section">
        <h3>Tanks Information</h3>
        <div *ngFor="let dSource of dataSources; let i = index">
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>{{ dSource.data[0].tank }}</mat-panel-title>
              </mat-expansion-panel-header>
              
              <div class="info-wrapper">
                <table 
                  mat-table 
                  [dataSource]="dSource" 
                  id="coq-application-view-table" 
                  *ngIf="!isGasProduct ? coqFormService?.liquidProductReviewData.length : coqFormService?.gasProductReviewData.length" 
                  class="table table-responsive table-striped"
                  aria-describedby="coq-application-veiw-table-title"
                >
                  <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
                    <th mat-header-cell *matHeaderCellDef>
                      <ng-container *ngIf="coqFormService.hasNoUnit(column)">{{ column | uppercase }}</ng-container>
                      <ng-container *ngIf="coqFormService.hasMeterUnit(column)">{{ column | uppercase }}(m)</ng-container>
                      <ng-container *ngIf="coqFormService.hasMeterCubeUnit(column)">{{ column | uppercase }}(m<sup>3</sup>)</ng-container>
                      <ng-container *ngIf="coqFormService.hasTempUnit(column)">{{ column | uppercase }}(<sup>0</sup>C)</ng-container>
                    </th>
                    <td mat-cell *matCellDef="let element; let i = index">
                      <ng-container *ngIf="objNotEmpty(element)">
                        <ng-container>{{ element[column] }}</ng-container>
                      </ng-container>
                    </td>
                  </ng-container>
                
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </section>

      <ng-template #noData>
        <span class="empty bg-transparent">Null</span>
      </ng-template>
    </div>

    <div class="application-controls">
      <h3 class="text-slate-500">Other Information</h3>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> UPLOADED DOCUMENTS </mat-panel-title>
        </mat-expansion-panel-header>
        <div
          class="card-list"
          *ngFor="let applicationDoc of application?.documents | firstN : 4"
        >
          <div class="card-item">
            <div class="item-title">
              <a [href]="applicationDoc.docSource" target="_blank">
                <img
                  *ngIf="isPDF(applicationDoc.docSource)"
                  src="../../../../assets/image/pdfIcon.png"
                  alt="open file"
                />

                <img
                  *ngIf="isIMG(applicationDoc.docSource)"
                  src="../../../../assets/image/imageIcon.png"
                  alt="open file"
                />

                <img
                  *ngIf="
                    !isIMG(applicationDoc.docSource) &&
                    !isPDF(applicationDoc.docSource)
                  "
                  src="../../../../assets/image/otherFileType.png"
                  alt="open file"
                />
              </a>
            </div>
            <div class="item-content">
              <a [href]="applicationDoc.docSource" target="_blank">
                {{ applicationDoc.docName }}
              </a>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </div>
  </div>

</div>
