<div class="my-accordion" *ngFor="let dSource of dataSources; let i = index" (click)="openAccordion(i)">
  <h6 class="mb-0">
    <button
      class="relative flex items-center w-full p-1 font-semibold text-left transition-all ease-in border-b border-solid cursor-pointer border-slate-100 text-slate-700 rounded-t-1 text-dark-500"
      data-collapse-target="collapse-1"
    >
      <span>{{ dSource.data[0]['tank'] }}</span>
      <i class="absolute right-0 pt-1 text-base transition-transform fa fa-chevron-down"></i>
    </button>
  </h6>
  <div
    data-collapse="collapse-1"
    class="h-0 overflow-hidden transition-all duration-300 ease-in-out"
  >

    <div id="coq-form-data-table-preview-title" class="hidden">Certificate of Quantity Form Data Review</div>
    <table *ngIf="coqForm?.liquidProductPreviewData.length" class="table table-responsive table-striped" id="coq-form-data-review-table" mat-table [dataSource]="dSource" aria-describedby="coq-form-data-table-review-title">
      <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef>
          <ng-container *ngIf="coqForm.hasNoUnit(column)">{{ column | uppercase }}</ng-container>
          <ng-container *ngIf="coqForm.hasMeterCubeUnit(column)">{{ column | uppercase }}(m<sup>3</sup>)</ng-container>
          <ng-container *ngIf="coqForm.hasTempUnit(column)">{{ column | uppercase }}(<sup>0</sup>C)</ng-container>
        </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <ng-container *ngIf="objNotEmpty(element)">
            <ng-container *ngIf="column !== 'actions' && column !== 'status'">{{ element[column] }}</ng-container>
            <ng-container *ngIf="column !== 'actions' && column === 'status'">{{ element[column] | uppercase }}</ng-container>
            <ng-container *ngIf="column === 'actions'">
              <div *ngIf="element.status.toLowerCase() !== 'diff'" class="flex justify-center items-center">
                <button mat-button class="text-blue-500" (click)="coqForm.openEditDialog({ form: element, title: element?.tank + ' - ' + element.status.toUpperCase()}, localDataKey)">Edit</button>
              </div>
              <div *ngIf="element.status.toLowerCase() === 'diff'" class="flex justify-center items-center">
                <button mat-button class="text-red-500" (click)="coqForm.removeFormData(element, localDataKey)">Remove</button>
              </div>
            </ng-container>
          </ng-container>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
  </div>
</div>
