.my-page-title {
  /* box-shadow: 1px 3px 4px 0px #9fa4c2; */
  color: wheat !important;
  @apply text-center py-6 mb-6 rounded-full bg-gradient-to-r from-[#71B280] to-[#134E5E];
}

.my-setting-desk {
  min-height: fit-content;
  padding: 0.4rem;
  border-radius: 5px;
  /* margin: 0 1.3rem 0 1.3rem; */
  @apply bg-background;
}

/* .div-height {
  max-height: calc(100vh - 50px) !important;
  /* max-height: 300px; */
  /* overflow: scroll; */
  /* @apply bg-gradient-to-r from-[#71B280] to-[#134E5E]; */
/* }  */
