<h1 mat-dialog-title>Add New Application Process</h1>
<div mat-dialog-content class="min-w-[500px]">
  <form [formGroup]="form" (ngSubmit)="createProcessFlow()">
    <div class="fomr-group" style="margin-bottom: 10px">
      <label>Vessel Type</label>
      <select
        name="vesselTypeId"
        formControlName="vesselTypeId"
        class="form-control"
      >
        <option value="none" selected disabled hidden>
          --Select from options --
        </option>
        <option
          *ngFor="let vesselType of vesselTypes"
          [ngValue]="vesselType.id"
        >
          {{ vesselType.name }}
        </option>
      </select>
      <div
        *ngIf="
          form.get('vesselTypeId')?.touched && form.get('vesselTypeId')?.invalid
        "
        class="alert alert-danger"
      >
        (Facility Type) is required!
      </div>
    </div>

    <div class="fomr-group" style="margin-bottom: 10px">
      <label>Application Type</label>
      <select
        name="applicationTypeId"
        formControlName="applicationTypeId"
        class="form-control"
      >
        <option value="none" selected disabled hidden>
          --Select from options --
        </option>
        <option
          *ngFor="let applicationType of applicationTypes"
          [ngValue]="applicationType.id"
        >
          {{ applicationType.name }}
        </option>
      </select>
      <div
        *ngIf="
          form.get('applicationTypeId')?.touched &&
          form.get('applicationTypeId')?.invalid
        "
        class="alert alert-danger"
      >
        Application Type is required!
      </div>
    </div>

    <div class="fomr-group" style="margin-bottom: 10px">
      <label>Triggered By (Role)</label>
      <select
        name="triggeredByRoleId"
        formControlName="triggeredByRoleId"
        class="form-control"
      >
        <option value="none" selected disabled hidden>
          --Select from options --
        </option>
        <option *ngFor="let role of roles" [ngValue]="role.id">
          {{ role.name }}
        </option>
      </select>
      <div
        *ngIf="
          form.get('triggeredByRoleId')?.touched &&
          form.get('triggeredByRoleId')?.invalid
        "
        class="alert alert-danger"
      >
        (Triggered By) is required!
      </div>
    </div>

    <div class="fomr-group" style="margin-bottom: 10px">
      <label>Target (Role)</label>
      <select
        name="targetRoleId"
        formControlName="targetRoleId"
        class="form-control"
      >
        <option value="none" selected disabled hidden>
          --Select from options --
        </option>
        <option *ngFor="let role of roles" [ngValue]="role.id">
          {{ role.name }}
        </option>
      </select>
      <div
        *ngIf="
          form.get('targetRoleId')?.touched && form.get('targetRoleId')?.invalid
        "
        class="alert alert-danger"
      >
        Target (Role) is required!
      </div>
    </div>

    <div class="fomr-group" style="margin-bottom: 10px">
      <label>Trigger Location</label>
      <select
        name="fromLocationId"
        formControlName="fromLocationId"
        class="form-control"
      >
        <option value="none" selected disabled hidden>
          --Select from options --
        </option>
        <option *ngFor="let location of locations" [ngValue]="location.id">
          {{ location.name }}
        </option>
      </select>
      <div
        *ngIf="
          form.get('fromLocationId')?.touched &&
          form.get('fromLocationId')?.invalid
        "
        class="alert alert-danger"
      >
        Trigger Location is required!
      </div>
    </div>

    <div class="fomr-group" style="margin-bottom: 10px">
      <label>Target Location</label>
      <select
        name="toLocationId"
        formControlName="toLocationId"
        class="form-control"
      >
        <option value="none" selected disabled hidden>
          --Select from options --
        </option>
        <option *ngFor="let location of locations" [ngValue]="location.id">
          {{ location.name }}
        </option>
      </select>
      <div
        *ngIf="
          form.get('toLocationId')?.touched && form.get('toLocationId')?.invalid
        "
        class="alert alert-danger"
      >
        Target Location is required!
      </div>
    </div>

    <div class="fomr-group" style="margin-bottom: 10px">
      <label>Action</label>
      <select name="action" formControlName="action" class="form-control">
        <option value="none" selected disabled hidden>
          --Select from options --
        </option>
        <option *ngFor="let action of actions" [ngValue]="action">
          {{ action }}
        </option>
      </select>
      <div
        *ngIf="form.get('action')?.touched && form.get('action')?.invalid"
        class="alert alert-danger"
      >
        Action is required!
      </div>
    </div>

    <div class="fomr-group" style="margin-bottom: 10px">
      <label>Status</label>
      <select name="status" formControlName="status" class="form-control">
        <option value="none" selected disabled hidden>
          --Select from options --
        </option>
        <option *ngFor="let status of statuses" [ngValue]="status">
          {{ status }}
        </option>
      </select>
      <div
        *ngIf="form.get('status')?.touched && form.get('status')?.invalid"
        class="alert alert-danger"
      >
        Status is required!
      </div>
    </div>

    <div class="fomr-group" style="margin-bottom: 10px">
      <label>Archive Application Process</label>
      <select
        name="isArchived"
        formControlName="isArchived"
        class="form-control"
      >
        <option value="none" selected disabled hidden>
          --Select from options --
        </option>
        <option [ngValue]="false">No</option>
        <option [ngValue]="true">Yes</option>
      </select>
      <div
        *ngIf="
          form.get('isArchived')?.touched && form.get('isArchived')?.invalid
        "
        class="alert alert-danger"
      >
        Archive Application Process is required!
      </div>
    </div>

    <div class="fomr-group" style="margin-bottom: 10px">
      <label>State</label>
      <select name="rate" formControlName="rate" class="form-control">
        <option value="none" selected disabled hidden>
          --Select from options --
        </option>
        <option *ngFor="let rate of rates" [ngValue]="rate">
          {{ rate }}
        </option>
      </select>
      <div
        *ngIf="form.get('rate')?.touched && form.get('rate')?.invalid"
        class="alert alert-danger"
      >
        State is required!
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="onClose()">Close</button>
  <button
    *ngIf="!editMode"
    mat-raised-button
    (click)="createProcessFlow()"
    [disabled]="form.invalid"
  >
    Create
  </button>

  <button
    *ngIf="editMode"
    mat-raised-button
    (click)="editProcessFlow()"
    [disabled]="form.invalid"
  >
    Edit
  </button>
</div>
