<table class="table">
  <tbody>
    <tr>
      <th>Reference Number</th>
      <td>{{ application?.reference }}</td>
    </tr>

    <ng-container *ngIf="isCoqProcessor">
      <tr>
        <th>Plant Name</th>
        <td>{{ application?.plant }}</td>
      </tr>
      <tr *ngIf="application?.productType">
        <th>Product Type</th>
        <td>{{ application?.productType }}</td>
      </tr>
      <tr *ngIf="application?.vessel?.name">
        <th>Vessel Name</th>
        <td>{{ application?.vessel?.name }}</td>
      </tr>
      <tr *ngIf="application?.marketerName">
        <th>Marketer Name</th>
        <td>{{ application?.marketerName }}</td>
      </tr>
      <tr *ngIf="application?.motherVessel">
        <th>Mother Vessel</th>
        <td>{{ application?.motherVessel }}</td>
      </tr>
      <tr *ngIf="application?.loadingPort">
        <th>Loading Port</th>
        <td>{{ application?.loadingPort }}</td>
      </tr>
      <tr *ngIf="application?.jetty">
        <th>Jetty</th>
        <td>{{ application?.jetty }}</td>
      </tr>
      <tr *ngIf="application?.quauntityReflectedOnBill">
        <th>Quantity Reflected On Bill</th>
        <td>{{ application?.quauntityReflectedOnBill }}</td>
      </tr>
      <tr *ngIf="application?.arrivalShipFigure">
        <th>Arrival Ship Figure</th>
        <td>{{ application?.arrivalShipFigure }}</td>
      </tr>
      <tr *ngIf="application?.dischargeShipFigure">
        <th>Discharge Ship Figure</th>
        <td>{{ application?.dischargeShipFigure }}</td>
      </tr>
      <tr *ngIf="application?.depotPrice">
        <th>Depot Price</th>
        <td>{{ application?.depotPrice | currency:'NGN' }}</td>
      </tr>
  
      <tr *ngIf="application?.dateOfVesselArrival">
        <th>Date Of Vessel Arrival</th>
        <td>{{ application?.dateOfVesselArrival | date }}</td>
      </tr>
      <tr *ngIf="application?.dateOfSTAfterDischarge">
        <th>Date Of Shore Tank After Discharge</th>
        <td>{{ application?.dateOfSTAfterDischarge | date }}</td>
      </tr>
      <tr *ngIf="application?.dateOfVesselUllage">
        <th>Date Of Vessel Ullage</th>
        <td>{{ application?.dateOfVesselUllage | date }}</td>
      </tr>
      <tr *ngIf="application?.status">
        <th>Application Status</th>
        <td>{{ application?.status }}</td>
      </tr>
      <tr *ngIf="application?.nameConsignee">
        <th>Name of Consignee</th>
        <td>{{ application?.nameConsignee }}</td>
      </tr>
      <tr *ngIf="application?.nominatedSurveyor && isCoqProcessor">
        <th>Nominated Surveyor</th>
        <td>{{ application?.nominatedSurveyor }}</td>
      </tr>
      <tr>
        <th>Application Type</th>
        <td>COQ</td>
      </tr>
      <tr *ngIf="application?.submittedDate">
        <th>Submitted On</th>
        <td>{{ application?.submittedDate | date }}</td>
      </tr>
    </ng-container>

    <tr *ngIf="application?.dateCreated">
      <th>Initiated On</th>
      <td>{{ application?.dateCreated | date }}</td>
    </tr>

    <ng-container *ngIf="!isCoqProcessor">
      <tr>
        <th>Company Name</th>
        <td>{{ application?.companyName }}</td>
      </tr>
  
      <tr>
        <th>Depot Name</th>
        <td>{{ application?.depotName }}</td>
      </tr>
      <tr>
        <th>Depot Price</th>
        <td>{{ application?.depotPrice }}</td>
      </tr>
      <tr>
        <th>Total Volume</th>
        <td>{{ application?.totalVolume }}</td>
      </tr>
      <tr>
        <th>Debit Note</th>
        <td>{{ application?.debitNote }}</td>
      </tr>
    </ng-container>
    
    <tr *ngIf="isCoqProcessor">
      <th>Tanks</th>
      <td class="text-center">
        <button
          mat-raised-button
          [disabled]="tankList?.length < 1"
          (click)="viewTanks()"
        >
          View Tanks
        </button>
      </td>
    </tr>
  </tbody>
</table>
