<div class="setting-desk">
  <h2 class="page-title bg-blue-500 text-blue-800">FIELD OFFICER/JETTY CONFIGURATION</h2>
  <div>
    <div class="table-group">
      <div class="table-wrapper">
        <generic-table
          [table_title]="'FIELD OFFICERS'"
          [title-color]="'blue'"
          [table_keysMappedToHeaders]="officerKeysMappedToHeaders"
          [table_content]="depotOfficers"
          [noTitle]="true"
          [table_controls_horizontal]="true"
          [noAddButton]="!elpsUsers?.length"
          (onAddData)="addData()"
          (onDeleteData)="deleteData($event)"
          (onEditData)="editData($event)"
        ></generic-table>
      </div>
    </div>
  </div>
</div>
