.title {
  background-color: #48acf0;
  color: wheat;
  @apply px-10 py-5 shadow-md;
}

.content {
  @apply flex flex-col xl:flex-row w-full mt-9 gap-4;
}

.application-view {
  @apply flex-1 w-[100%] xl:w-[33%];
}

.application-controls {
  @apply flex-1 flex flex-col gap-4;
}

.view-application {
  @apply mt-14 m-10 shadow-md bg-slate-100 p-5 flex flex-col min-w-fit;
}

.actions {
  @apply flex flex-col mt-8 gap-4 px-8;
}

.actions button {
  @apply h-12;
}

.card-list {
  @apply border-2 border-slate-200 px-3 py-4 rounded-md w-full my-3;

  .card-item {
    @apply bg-slate-500  min-h-[20px] pr-1 flex flex-row m-1 gap-2 w-full rounded-lg;
  }

  .item-title {
    @apply text-sm px-3 py-2 flex justify-center items-center text-white w-32;

    & img {
      @apply w-8;
    }
  }

  .item-content {
    @apply px-3 py-2 text-sm bg-slate-100 w-full;
  }
}

.show-more {
  @apply bg-slate-400 text-xs text-white px-3 py-1 w-24 cursor-pointer mx-auto mt-2;
}

mat-expansion-panel {
  min-width: 50%;
}

.btn {
  display: inline !important;
  color: #3e4e50;
  background: #83a4d4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #b6fbff, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  @apply font-bold uppercase p-[1rem] border-4 w-full md:w-[50%] mt-10 mb-8 float-right;
}
