<div class="setting-desk">
  <h2 class="page-title bg-yellow-500 text-yellow-800">DEBIT NOTES PER CLEARANCE</h2>
  <div>
    
    <div class="table-group">
      <div class="table-wrapper">
        <generic-table
          [title-color]="'yellow'"
          [table_keysMappedToHeaders]="debitNoteKeysMappedToHeaders"
          [table_content]="debitNotes"
          [EnableViewDebitNoteControl]="true"
          [noAddOrDeleteButton]="true"
          [noCheckControls]="true"
          [noEditControl]="true"
          [noTitle]="true"
          (onViewDebitNote)="viewDebitNote($event)"
        >
        </generic-table>
      </div>
    </div>
  </div>
</div>