<form [formGroup]="form">
  <div class="col-span-2 flex justify-center items-center my-6">
    <div
      class="bg-slate-400/60 flex flex-col justify-center p-2 px-3 rounded-md"
    >
      <h5 class="text-sm">
        CONDENSATE STATIC DATA ENTRY (INITIAL MEASUREMENTS)
      </h5>
    </div>
  </div>

  <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-9">
    <div class="md:col-span-3 form-group">
      <label for="coq-condensate-product-ullage"
        >Ullage(m) <sup class="text-red-700">*</sup></label
      >
      <input
        type="number"
        name="ullage"
        formControlName="ullage"
        id="coq-condensate-product-ullage"
        class="form-field form-control"
        [ngClass]="{
          'is-invalid':
            form?.controls['ullage'].touched && form?.controls['ullage'].invalid
        }"
      />
    </div>
    <div class="md:col-span-3">
      <label for="coq-condensate-product-tankTemp"
        >TANK TEMP (<sup class="text-red-700">o</sup>C)
        <sup class="text-red-700">*</sup></label
      >
      <input
        type="number"
        name="tankTemp"
        formControlName="tankTemp"
        id="coq-condensate-product-tankTemp"
        class="form-field form-control"
        [ngClass]="{
          'is-invalid':
            form?.controls['tankTemp'].touched &&
            form?.controls['tankTemp'].invalid
        }"
      />
    </div>
    <div class="md:col-span-3">
      <label for="coq-condensate-product-tov"
        >TOV(bbls) <sup class="text-red-700">*</sup></label
      >
      <input
        type="number"
        name="tov"
        formControlName="tov"
        id="coq-condensate-product-tov"
        class="form-field form-control"
        [ngClass]="{
          'is-invalid':
            form?.controls['tov'].touched && form?.controls['tov'].invalid
        }"
      />
    </div>

    <div class="md:col-span-3">
      <label for="coq-condensateproduct-bsw"
        >BS&W (%)<sup class="text-red-700">*</sup></label
      >
      <input
        type="number"
        name="bsw"
        formControlName="bsw"
        id="coq-condensateproduct-bsw"
        class="form-field form-control"
        [ngClass]="{
          'is-invalid':
            form?.controls['bsw'].touched && form?.controls['bsw'].invalid
        }"
      />
    </div>
    <div class="md:col-span-3">
      <label for="coq-condensate-product-waterGuage"
        >WATER GUAGE(m) <sup class="text-red-700">*</sup></label
      >
      <input
        type="number"
        formControlName="waterGuage"
        id="coq-condensate-product-waterGuage"
        class="form-field form-control"
        [ngClass]="{
          'is-invalid':
            form?.controls['waterGuage'].touched &&
            form?.controls['waterGuage'].invalid
        }"
      />
    </div>
    <div class="md:col-span-3">
      <label for="coq-condensate-product-obsvWater"
        >OBSV WATER (bbls) <sup class="text-red-700">*</sup></label
      >
      <input
        type="number"
        name="obsvWater"
        formControlName="obsvWater"
        id="coq-condensate-product-obsvWater"
        class="form-field form-control"
        [ngClass]="{
          'is-invalid':
            form?.controls['obsvWater'].touched &&
            form?.controls['obsvWater'].invalid
        }"
      />
    </div>

    <div class="md:col-span-3">
      <label for="coq-condensate-product-apiAt60"
        >API. AT 60/60 <sup>o</sup>F <sup class="text-red-700">*</sup></label
      >
      <input
        type="number"
        name="apiAt60"
        formControlName="apiAt60"
        id="coq-condensate-product-apiAt60"
        class="form-field form-control"
        [ngClass]="{
          'is-invalid':
            form?.controls['apiAt60'].touched &&
            form?.controls['apiAt60'].invalid
        }"
      />
    </div>

    <div class="md:col-span-3">
      <label for="coq-condensate-product-vcf"
        >VCF <sup class="text-red-700">*</sup></label
      >
      <input
        type="number"
        name="vcf"
        formControlName="vcf"
        id="coq-condensate-product-vcf"
        class="form-field form-control"
        [ngClass]="{
          'is-invalid':
            form?.controls['vcf'].touched && form?.controls['vcf'].invalid
        }"
      />
    </div>
    <div class="md:col-span-3">
      <label for="coq-condensate-product-ltBblFactor"
        >LT/BBL FACTOR <sup class="text-red-700">*</sup></label
      >
      <input
        type="number"
        name="ltBblFactor"
        formControlName="ltBblFactor"
        id="coq-condensate-product-ltBblFactor"
        class="form-field form-control"
        [ngClass]="{
          'is-invalid':
            form?.controls['ltBblFactor'].touched &&
            form?.controls['ltBblFactor'].invalid
        }"
      />
    </div>
  </div>
</form>
