<h1 mat-dialog-title>Approve Application</h1>
<div mat-dialog-content class="modal-width">
  <div class="card-list">
    <div class="card-item">
      <div class="item-title">Reference No.</div>
      <div class="item-content">{{ application?.reference }}</div>
    </div>
    <div class="card-item" *ngIf="!isPPCOQ">
      <div class="item-title">Vessel Name</div>
      <div class="item-content">{{ application?.vessel?.name }}</div>
    </div>
    <div class="card-item" *ngIf="isPPCOQ">
      <div class="item-title">Plant Name</div>
      <div class="item-content">{{ application?.plant.name }}</div>
    </div>
    <div class="card-item" *ngIf="!isPPCOQ">
      <div class="item-title">Vessel Type</div>
      <div class="item-content">{{ application?.vessel?.vesselType }}</div>
    </div>
    <div class="card-item" *ngIf="isPPCOQ">
      <div class="item-title">Product Name</div>
      <div class="item-content">{{ application?.product.name }}</div>
    </div>
  </div>

  <form [formGroup]="form" (ngSubmit)="approve()">
    <div class="fomr-group" style="margin-bottom: 10px" *ngIf="!isApprover">
      <label class="font-bold pb-2 pt-4">Remark</label>
      <textarea
        formControlName="comment"
        class="form-control"
        aria-multiline="true"
        rows="7"
      ></textarea>
      <div
        *ngIf="form.get('comment')?.touched && form.get('comment')?.invalid"
        class="alert alert-danger my-2 p-2"
      >
        Comment is required!
      </div>
    </div>
  </form>
</div>
<div class="flex mt-4">
  <div class="items-center flex w-full">
    <button mat-button mat-dialog-close>Close</button>
    <div class="flex">
      <button
        mat-raised-button
        class="bg-green-500"
        (click)="approve()"
        [disabled]="form.invalid"
        *ngIf="!isLoading"
      >
        {{ !isCOQProcessor && !isApprover ? "Pass For Approval" : isFAD ? "Accept" : "Approve" }}
      </button>
      <a
        *ngIf="isLoading"
        class="!flex !justify-center !items-center"
        mat-mini-fab
        color="disabled"
      >
        <mat-spinner class="" diameter="35" strokeWidth="7"></mat-spinner>
      </a>
    </div>
  </div>
  <div>
    <button
      mat-raised-button
      class="bg-slate-500 text-white"
      [disabled]="form.invalid"
      (click)="preview()"
    >
      Preview
    </button>
  </div>
</div>
