<h1 mat-dialog-title>Approve Application</h1>
<div mat-dialog-content class="modal-width">
  <div class="card-list">
    <div class="card-item">
      <div class="item-title">Reference No.</div>
      <div class="item-content">{{ application?.reference }}</div>
    </div>
    <div class="card-item">
      <div class="item-title">Vessel Name</div>
      <div class="item-content">{{ application?.vessel?.name }}</div>
    </div>
    <div class="card-item">
      <div class="item-title">Vessel Type</div>
      <div class="item-content">{{ application?.vessel?.vesselType }}</div>
    </div>
    <!-- <div class="card-item">
      <div class="item-title">Stage</div>
      <div class="item-content">{{ application.permitType }}</div>
    </div> -->
  </div>

  <form [formGroup]="form" (ngSubmit)="approve()">
    <div class="fomr-group" style="margin-bottom: 10px">
      <label>Remark</label>
      <textarea
        formControlName="comment"
        class="form-control"
        aria-multiline="true"
        rows="7"
      ></textarea>
      <div
        *ngIf="form.get('comment')?.touched && form.get('comment')?.invalid"
        class="alert alert-danger"
      >
        Remark is required!
      </div>
    </div>
  </form>
</div>
<div class="flex">
  <div class="items-center flex w-full">
    <button mat-button mat-dialog-close>Close</button>
    <div class="flex">
      <button
        mat-raised-button
        class="bg-green-500 "
        (click)="approve()"
        [disabled]="form.invalid"
        *ngIf="!isLoading"
      >
        Approve
      </button>
      <a
        *ngIf="isLoading"
        class="!flex !justify-center !items-center"
        mat-mini-fab
        color="disabled"
      >
        <mat-spinner class="" diameter="35" strokeWidth="7"></mat-spinner>
      </a>
    </div>
  </div>
  <div>
    <button
      mat-raised-button
      class="bg-slate-500 text-white"
    >
      Preview
    </button>
  </div>
</div>
