<div class="apply-container">
  <div class="apply-wrapper">
    <h1>NEW LICENCE</h1>
    <div class="form-wrapper">
      <div class="form">
        <form [formGroup]="vesselForm" class="main-form">
          <div class="first-segment" *ngIf="activateFirstSegment">
            <div class="flex flex-col">
              <span class="input-label"> Vessel Name </span>
              <input
                type="text"
                class="border border-t border-b rounded-r p-2"
                placeholder="Vessel Name"
                formControlName="vesselName"
              />
            </div>

            <div class="flex flex-col">
              <span class="input-label"> Dead Weight </span>
              <input
                type="number"
                class="border border-t border-b rounded-r p-2"
                placeholder="Dead Weight "
                formControlName="deadWeight"
              />
            </div>

            <div class="flex flex-col">
              <span class="input-label"> Capacity </span>
              <input
                type="number"
                class="border border-t border-b rounded-r p-2"
                placeholder="Capacity "
                formControlName="capacity"
              />
            </div>

            <div class="flex flex-col">
              <span class="input-label"> Operator </span>
              <input
                type="text"
                class="border border-t border-b rounded-r p-2"
                placeholder="Operator"
                formControlName="operator"
              />
            </div>

            <div class="flex flex-col">
              <span class="input-label"> Place of Build </span>
              <input
                type="text"
                class="border border-t border-b rounded-r p-2"
                placeholder="Place of Build"
                formControlName="placeOfBuild"
              />
            </div>

            <div class="flex flex-col">
              <span class="input-label"> Year of Build </span>
              <input
                type="number"
                class="border border-t border-b rounded-r p-2"
                placeholder="Year of Build"
                formControlName="yearOfBuild"
              />
            </div>

            <div class="flex flex-col">
              <span class="input-label"> Flag </span>
              <input
                type="text"
                class="border border-t border-b rounded-r p-2"
                placeholder="Flag"
                formControlName="flag"
              />
            </div>

            <div class="flex flex-col">
              <span class="input-label"> Call Sign </span>
              <input
                type="text"
                class="border border-t border-b rounded-r p-2"
                placeholder="Call Sign"
                formControlName="callSIgn"
              />
            </div>

            <div class="flex flex-col">
              <span class="input-label"> IMO Number </span>
              <input
                type="number"
                class="border border-t border-b rounded-r p-2"
                placeholder="IMO Number"
                formControlName="imoNumber"
              />
            </div>

            <div class="flex flex-col">
              <span class="input-label"> Vessel Type </span>
              <select
                type="text"
                class="border border-t border-b rounded-r p-2"
                formControlName="vesselTypeId"
              >
                <option disabled>--select--</option>
                <option *ngFor="let v of vesselTypes" [ngValue]="v.id">
                  {{ v.name }}
                </option>
              </select>
            </div>

            <button
              *ngIf="isNext"
              class="btn-next"
              mat-raised-button
              (click)="updateState(2)"
            >
              Next
            </button>
          </div>
        </form>
      </div>

      <div class="second-segment" *ngIf="activateSecondSegment">
        <div class="tankForm">
          <form class="tankForm" [formGroup]="tankForm">
            <!-- <div class="flex flex-col">
              <span class="input-label"> Tank </span>
              <select
                type="text"
                class="border border-t border-b rounded-r p-2"
                formControlName="name"
              >
                <option disabled>--select--</option>
                <option *ngFor="let t of tanks" [ngValue]="t.name">
                  {{ t.name }}
                </option>
              </select>
            </div> -->

            <div class="flex flex-col">
              <span class="input-label"> Tank Name </span>
              <input
                type="text"
                class="border border-t border-b rounded-r p-2"
                placeholder="Tank Name"
                formControlName="name"
              />
            </div>

            <div class="flex flex-col">
              <span class="input-label"> Capacity </span>
              <input
                type="number"
                class="border border-t border-b rounded-r p-2"
                placeholder="Capacity"
                formControlName="capacity"
              />
            </div>

            <div class="flex flex-col">
              <span class="input-label"> Product </span>
              <select
                type="text"
                class="border border-t border-b rounded-r p-2"
                formControlName="productId"
              >
                <option disabled>--select--</option>
                <option *ngFor="let p of products" [ngValue]="p.id">
                  {{ p.name }}
                </option>
              </select>
            </div>

            <button
              mat-stroked-button
              color="primary"
              class="m-4"
              [disabled]="tankForm.invalid ? true : null"
              (click)="addTank()"
            >
              Add Tank
            </button>

            <div *ngIf="selectedTanks?.length > 0">
              <table class="table table-auto data-table">
                <thead>
                  <tr>
                    <th>Tank Name</th>
                    <th>Capacity</th>
                    <th>Product Name</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let t of selectedTanks">
                    <td>{{ t.name }}</td>
                    <td>{{ t.capacity }}</td>
                    <td>{{ t.product }}</td>
                    <td>
                      <button
                        (click)="removeTank(t)"
                        mat-flat-button
                        color="accent"
                      >
                        Remove
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>

              <button
                class="btn-back"
                mat-raised-button
                (click)="updateState(1)"
              >
                Back
              </button>

              <button
                class="btn-back"
                mat-raised-button
                (click)="updateState(3)"
              >
                Next
              </button>
            </div>
          </form>
        </div>
      </div>

      <div class="form" *ngIf="activateThirdSegment">
        <form class="tankForm" [formGroup]="facilityForm">
          <div class="second-segment">
            <div class="flex flex-col">
              <span class="input-label"> Source of Products </span>
              <!-- <select
                type="text"
                class="border border-t border-b rounded-r p-2"
                formControlName="sourceOfProducts"
              >
                <option disabled>--select--</option>
                <option *ngFor="let ft of facilityTypes" [ngValue]="ft.id">
                  {{ ft.name }}
                </option>
              </select> -->
              <input
                type="text"
                class="border border-t border-b rounded-r p-2"
                placeholder="Source of Products"
                formControlName="sourceOfProducts"
              />
            </div>

            <div class="flex flex-col">
              <span class="input-label"> Facility Name </span>
              <input
                type="text"
                class="border border-t border-b rounded-r p-2"
                placeholder="Facility Name"
                formControlName="facilityName"
              />
            </div>

            <div class="flex flex-col">
              <span class="input-label"> Address </span>
              <input
                type="text"
                class="border border-t border-b rounded-r p-2"
                placeholder="Address"
                formControlName="address"
              />
            </div>

            <div class="licences">
              <h5>Held License Number of Fixed Facility(s)</h5>
              <div class="flex items-center gap-3">
                <div class="flex flex-col">
                  <span class="input-label"> License Number </span>
                  <input
                    type="text"
                    class="border border-t border-b rounded-r p-2"
                    placeholder="License Number"
                    formControlName="licenseNumber"
                  />
                </div>
              </div>
            </div>

            <div class="flex flex-col">
              <span class="input-label"> State </span>
              <select
                type="text"
                class="border border-t border-b rounded-r p-2"
                formControlName="stateId"
              >
                <option disabled>--select--</option>
                <option *ngFor="let s of states" [ngValue]="s.id">
                  {{ s.name }}
                </option>
              </select>
            </div>

            <div class="flex flex-col">
              <span class="input-label"> L.G.A </span>
              <select
                type="text"
                class="border border-t border-b rounded-r p-2"
                formControlName="lgaId"
              >
                <option disabled>--select--</option>
                <option *ngFor="let l of lga" [ngValue]="l.id">
                  {{ l.name }}
                </option>
              </select>
            </div>
          </div>

          <button
            mat-stroked-button
            color="primary"
            class="m-4"
            [disabled]="facilityForm.invalid ? true : null"
            (click)="addFacility()"
          >
            Add Facility
          </button>

          <div *ngIf="selectedFacility?.length > 0">
            <table class="table table-auto data-table">
              <thead>
                <tr>
                  <th>Source of Products</th>
                  <th>Facility Name</th>
                  <th>Address</th>
                  <th>License Number</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let t of selectedFacility">
                  <td>{{ t.sourceOfProducts }}</td>
                  <td>{{ t.facilityName }}</td>
                  <td>{{ t.address }}</td>
                  <td>{{ t.licenseNumber }}</td>
                  <td>
                    <button
                      (click)="removeFacility(t)"
                      mat-flat-button
                      color="accent"
                    >
                      Remove
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>

            <button class="btn-back" mat-raised-button (click)="updateState(2)">
              Back
            </button>

            <button
              *ngIf="selectedTanks.length > 0"
              mat-raised-button
              color="primary"
              class="primary"
              (click)="submit()"
            >
              Continue
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
