<div class="view-application-container">
  <ng-container *ngIf="showFloatingBackBtn">
    <button 
      [routerLink]="'/company/cvc-applications'"
      class="fixed top-[75px] z-50 text-white bg-slate-500 p-1 px-2 flex justify-center items-center font-bold"
      style="border-radius: 4px; font-size: x-small;"
    >
      <mat-icon>keyboard_backspace</mat-icon>&nbsp;&nbsp;
      <span>Back to View All</span>
    </button>
  </ng-container>

  <ng-container *ngIf="canContinueApp && showFloatingAppAction">
    <div 
      class="fixed top-[75px] right-[20px] z-50"
      #continueAppContainer
    >
      <button 
        mat-raised-button
        class="bg-green-600 text-white w-full"
        (click)="continueApp()"
      >
        Continue Application
      </button>
    </div>
  </ng-container>

  <div class="flex justify-between">
    <button
      id="back-to-view-all-btn"
      [routerLink]="'/company/cvc-applications'"
      [ngClass]="{'hidden': showFloatingBackBtn, 'flex': !showFloatingBackBtn}"
      mat-button
    >
      <mat-icon>keyboard_backspace</mat-icon>&nbsp;Back to View All
    </button>
  
    <ng-container *ngIf="application && canContinueApp">
      <div
        id="continue-app-btn-container"
        class="actions"
        [ngClass]="{'hidden': showFloatingAppAction, 'flex': !showFloatingAppAction}"
        #continueAppContainer
      >
        <button 
          mat-raised-button
          class="bg-green-600 text-white w-full"
          (click)="continueApp()"
        >
          Continue Application
        </button>
      </div>
    </ng-container>
  </div>

  <div *ngIf="application; else noData" class="view-application">
    <h2 mat-dialog-title class="page-title text-center">
      APPLICATION REFERENCE: {{ application?.reference }}
    </h2>

    <div class="content">
      <div class="application-view">
        <app-application-view-table
          [application]="application"
          [appId]="appId"
          [appSource]="appSource"
        ></app-application-view-table>
      </div>
      <div class="application-controls">
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title> UPLOADED DOCUMENTS </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-container *ngIf="application?.documents?.length; else noInfo">

            <div
              class="card-list"
              *ngFor="let applicationDoc of application?.documents | firstN : 5"
            >
              <div class="card-item">
                <div class="item-title">
                  <a [href]="applicationDoc.docSource" target="_blank">
                    <img
                      *ngIf="isPDF(applicationDoc.docSource)"
                      src="../../../../assets/image/pdfIcon.png"
                      alt="open file"
                    />
    
                    <img
                      *ngIf="isIMG(applicationDoc.docSource)"
                      src="../../../../assets/image/imageIcon.png"
                      alt="open file"
                    />
    
                    <img
                      *ngIf="
                        !isIMG(applicationDoc.docSource) &&
                        !isPDF(applicationDoc.docSource)
                      "
                      src="../../../../assets/image/otherFileType.png"
                      alt="open file"
                    />
                  </a>
                </div>
                <div class="item-content">
                  <a [href]="applicationDoc.docSource" target="_blank">
                    {{ applicationDoc.docName }}
                  </a>
                </div>
              </div>
            </div>
            <p class="show-more" (click)="showMore('applicationDocs')">Show All</p>
          </ng-container>
        </mat-expansion-panel>
      </div>
  
    </div>
  </div>

  <ng-template #noInfo>
    <div class="flex justify-center font-bold">No Data</div>
  </ng-template>

  <ng-template #noData>
    <div class="flex justify-center items-center">
      <div 
        *ngIf="!loading" 
        class="border-4 p-12 font-bold border-red-300 bg-red-200 text-center"
      >
        Application Details Unavailable
      </div>
    </div>
  </ng-template>
</div>
