<div class="view-application-container">
  <ng-container *ngIf="canContinueApp && showFloatingAppAction">
    <div 
      class="fixed top-[75px] right-[20px] z-50"
      #continueAppContainer
    >
      <a
        mat-raised-button
        class="bg-green-600 text-white"
        [routerLink]="continueUrl"
      >Continue Application</a>
    </div>
  </ng-container>

  <button
    (click)="location.back()"
    class="my-4"
    mat-button
  >
    <mat-icon>keyboard_backspace</mat-icon>&nbsp;Back to View All
  </button>

  <div *ngIf="application; else noData" class="view-application">
    <h2 mat-dialog-title class="page-title text-center">
      APPLICATION REFERENCE: {{ application?.reference }}
    </h2>

    <ng-container *ngIf="canContinueApp">
      <div 
        id="continue-app-btn-container"
        class="actions"
        [ngClass]="{'hidden': showFloatingAppAction, 'flex': !showFloatingAppAction}"
        #continueAppContainer
      >
        <a
          mat-raised-button
          class="bg-green-600 text-white"
          [routerLink]="continueUrl"
        >Continue Application</a>
      </div>
    </ng-container>

    <div class="content">
      <div class="application-view">
        <app-application-view-table
          [application]="application"
          [appId]="appId"
          [appSource]="appSource"
        ></app-application-view-table>
      </div>
      <div class="application-controls">
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title> APPLICATION HISTORY </mat-panel-title>
          </mat-expansion-panel-header>

          <ng-container *ngIf="application?.appHistories?.length; else noInfo">
            <div
              class="card-list"
              *ngFor="let history of application?.appHistories | firstN : 3"
            >
              <div class="card-item">
                <div class="item-title">Initiator</div>
                <div class="item-content">{{ history.triggeredBy }}</div>
              </div>
              <div class="card-item">
                <div class="item-title">Recipient</div>
                <div class="item-content">{{ history.targetedTo }}</div>
              </div>
              <div class="card-item">
                <div class="item-title">Action</div>
                <div class="item-content">{{ history.action }}</div>
              </div>
              <div class="card-item">
                <div class="item-title">Remark</div>
                <div class="item-content">{{ history.comment }}</div>
              </div>
              <div class="card-item">
                <div class="item-title">Date</div>
                <div class="item-content">{{ history.date }}</div>
              </div>
            </div>
            <p class="show-more" (click)="showMore('appHistory')">Show All</p>
          </ng-container>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title> UPLOADED DOCUMENTS </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-container *ngIf="application?.documents?.length; else noInfo">

            <div
              class="card-list"
              *ngFor="let applicationDoc of application?.documents | firstN : 5"
            >
              <div class="card-item">
                <div class="item-title">
                  <a [href]="applicationDoc.docSource" target="_blank">
                    <img
                      *ngIf="isPDF(applicationDoc.docSource)"
                      src="../../../../assets/image/pdfIcon.png"
                      alt="open file"
                    />
    
                    <img
                      *ngIf="isIMG(applicationDoc.docSource)"
                      src="../../../../assets/image/imageIcon.png"
                      alt="open file"
                    />
    
                    <img
                      *ngIf="
                        !isIMG(applicationDoc.docSource) &&
                        !isPDF(applicationDoc.docSource)
                      "
                      src="../../../../assets/image/otherFileType.png"
                      alt="open file"
                    />
                  </a>
                </div>
                <div class="item-content">
                  <a [href]="applicationDoc.docSource" target="_blank">
                    {{ applicationDoc.docName }}
                  </a>
                </div>
              </div>
            </div>
            <p class="show-more" (click)="showMore('applicationDocs')">Show All</p>
          </ng-container>
        </mat-expansion-panel>
      </div>
  
    </div>
  </div>

  <ng-template #noInfo>
    <div class="flex justify-center font-bold">No Data</div>
  </ng-template>

  <ng-template #noData>
    <div class="flex justify-center items-center">
      <div 
        *ngIf="!loading" 
        class="border-4 p-12 font-bold border-red-300 bg-red-200 text-center"
      >
        Application Details Unavailable
      </div>
    </div>
  </ng-template>
</div>
