.form-details-container {
  @apply flex flex-col items-center justify-center;
}

.form-header-info {
  @apply text-slate-500 font-medium;
}

.form-wrapper {
  @apply bg-[#f4f4f4] flex flex-col items-center shadow-lg border-none rounded-md w-[80%] justify-center border-2 rounded-md m-8 px-0 py-4;
}

.form-wrapper h1 {
  @apply text-center mb-4 mt-0 text-xl md:text-2xl font-bold leading-tight text-slate-900;
}

.form-warning {
  @apply w-full border-2 rounded-sm p-4 text-center text-3xl text-lg bg-[#F1EB0B55] border-none;
}

.form-warning span {
  @apply bg-[#393939] text-white p-2 rounded-3xl font-medium flex justify-center items-center;
}

.form {
  @apply w-full flex flex-wrap justify-center bg-transparent mb-4 gap-4 min-h-full p-4;
}

.form-preview, .form-review {
  align-self: start;
  @apply px-4 py-8 w-full overflow-x-auto;
}

label {
  @apply text-slate-700 font-medium text-[16px];
}

::ng-deep .mat-form-field {
  @apply w-[30%];
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
  -moz-appearance: textfield;
}

.form-field {
  @apply px-2 block text-gray-800 w-full bg-transparent h-10 bg-gray-50 border border-gray-200 rounded mt-1;
}