<div>
  <div class="form-details-container">
    <!-- Liquid Gas Form-->
    <div class="form-wrapper">
      <h1>Certificate of Quantity Application Form</h1>
      <div class="p-4">
        <div class="grid grid-cols-1 md:grid-cols-4 w-full">
          <h5 class="text-slate-400 col-span-1">FORM THREE:</h5>
          <h5 class="text-slate-600 col-span-3 text-right">SHORE-TANK ULLAGE AFTER VESSEL DISCHARGE</h5>
        </div>
        <hr class="font-md" />
        <div class="grid grid-cols-1 md:grid-cols-9 w-full gap-2">
          <div class="col-span-3">
            <p><span class="form-header-info">MARKETER/PDT OWNER</span>: {{ 'ETERNA PLC' }}</p>
            <p><span class="form-header-info">MOTHER VESSEL</span>: {{ 'ETERNA PLC' }}</p>
            <p><span class="form-header-info">DATE OF VESSEL ARRIVAL</span>: {{ '14 OCT 2023' }}</p>
          </div>
          <div class="col-span-3">
            <p><span class="form-header-info">PRODUCT</span>: {{ 'PMS' }}</p>
            <p><span class="form-header-info">JETTY</span>: {{ 'IBRU' }}</p>
            <p><span class="form-header-info">DATE OF VESSELULLAGE</span>: {{ '15 OCT 2023'}}</p>
          </div>
          <div class="col-span-3">
            <p><span class="form-header-info">VESSEL NAME</span>: </p>
            <p><span class="form-header-info">RECEIVING TERMINAL</span>: </p>
            <p><span class="form-header-info">DATE OF SHORE-TANK AFTER DISCHARGE</span>: {{ '17 OCT 2023' }}</p>
          </div>
        </div>
      </div>
      <hr class="w-full" />

      <div class="form-warning">
        <span>Please Note</span> 
        You must fill this form <strong>twice</strong> per tank to capture <strong>BEFORE</strong> and <strong>AFTER</strong> 
        statuses data before you can proceed to the review area for submission.
      </div>

      <hr class="w-full" />

      <form [formGroup]="liquidProductForm" class="form">
        <div class="md:col-span-3">
          <label for="coq-liquid-product-tank">Tank <sup class="text-red-700">*</sup></label>
          <select 
            id="coq-liquid-product-tank" 
            name="tank" 
            formControlName="tank" 
            class="form-field"
            [ngClass]="{'cursor-not-allowed': liquidProductForm.controls['tank'].disabled}"
          >
            <option value="" [selected]="true">-- Select Tank --</option>
            <option *ngFor="let val of configuredTanks" [value]="val">{{val}}</option>
          </select>
        </div>
        <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-9">
          <div class="md:col-span-3">
            <label for="coq-liquid-product-status">Status <sup class="text-red-700">*</sup></label>
            <select id="coq-liquid-product-status" name="status" formControlName="status" class="form-field">
              <option value="" [selected]="true">-- Select Status --</option>
              <option value="BEFORE" #before>BEFORE</option>
              <option value="AFTER" #after>AFTER</option>
            </select>
          </div>
          <div class="md:col-span-3">
            <label for="coq-liquid-product-dip">DIP(m) <sup class="text-red-700">*</sup></label>
            <input
              type="number"
              name="dip"
              formControlName="dip"
              id="coq-liquid-product-dip"
              class="form-field"
              required
            />
          </div>
          <div class="md:col-span-3">
            <label for="coq-liquid-product-waterdip">WATER DIP <sup class="text-red-700">*</sup></label>
            <input
              type="number"
              name="waterDIP"
              formControlName="waterDIP"
              id="coq-liquid-product-waterdip"
              class="form-field"
              required
            />
          </div>
          <div class="md:col-span-3">
            <label for="coq-liquid-product-tov">TOV(m<sup>3</sup>) <sup class="text-red-700">*</sup></label>
            <input
              type="number"
              name="tov"
              formControlName="tov"
              id="coq-liquid-product-tov"
              class="form-field"
              required
            />
          </div>
  
          <div class="md:col-span-3">
            <label for="coq-liquidproduct-waterVoi">WATER VOI <sup class="text-red-700">*</sup></label>
            <input
              type="number"
              name="waterVOI"
              formControlName="waterVOI"
              id="coq-liquidproduct-waterVoi"
              class="form-field"
              required
            />
          </div>
          <div class="md:col-span-3">
            <label for="coq-liquid-product-corr">CORR(m<sup>3</sup>)</label>
            <input
              type="number"
              name="corr"
              formControlName="corr"
              id="coq-liquid-product-corr"
              class="form-field"
            />
          </div>
          <div class="md:col-span-3">
            <label for="coq-liquid-product-gov">GOV(m<sup>3</sup>) <sup class="text-red-700">*</sup></label>
            <input
              type="number"
              formControlName="gov"
              id="coq-liquid-product-gov"
              class="form-field"
              required
            />
          </div>
          <div class="md:col-span-3">
            <label for="coq-liquid-product-temp">TEMP(<sup>0</sup>C) <sup class="text-red-700">*</sup></label>
            <input
              type="number"
              name="temp"
              formControlName="temp"
              id="coq-liquid-product-temp"
              class="form-field"
              required
            />
          </div>
  
          <div class="md:col-span-3">
            <label for="coq-liquid-product-density">DENSITY <sup class="text-red-700">*</sup></label>
            <input
              type="number"
              name="density"
              formControlName="density"
              id="coq-liquid-product-density"
              class="form-field"
              required
            />
          </div>
          <div class="md:col-span-3">
            <label for="coq-liquid-product-vcf">VCF <sup class="text-red-700">*</sup></label>
            <input
              type="number"
              name="vcf"
              formControlName="vcf"
              id="coq-liquid-product-vcf"
              class="form-field"
            />
          </div>
  
          <div class="md:col-span-3">
            <label for="coq-liquid-product-gsv">GSV <sup class="text-red-700">*</sup></label>
            <input
              type="number"
              name="gsv"
              formControlName="gsv"
              id="coq-liquid-product-gsv"
              class="form-field"
              required
            />
          </div>
          <div class="md:col-span-3">
            <label for="coq-liquid-product-mtvac">MT(VAC) <sup class="text-red-700">*</sup></label>
            <input
              type="number"
              name="mtVAC"
              formControlName="mtVAC"
              id="coq-liquid-product-mtvac"
              class="form-field"
              required
            />
          </div>
  
          <div *ngIf="liquidProductForm.valid" class="md:col-span-9 text-right">
            <button
              type="submit"
              (click)="saveToPreview()"
              class="bg-blue-400 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded"
            >
              Save Data
            </button>
          </div>
        </div>
      </form>
      
      <div class="form-preview">
        <h4 class="tex-slate-600 font-medium">Data Preview</h4>
        <hr />
        <div *ngIf="coqForm?.liquidProductPreviewData.length; else noPreview">
          <app-coq-form-preview></app-coq-form-preview>
        </div>
        <ng-template #noPreview>
          <p class="text-slate-600 text-center">Your Certificate of Quantity form data will be previewed here</p>
        </ng-template>
      </div>

      <div class="form-review">
        <h4 class="text-slate-600 font-medium">Review & Submit</h4>
        <hr />
        <div *ngIf="coqForm?.liquidProductReviewData.length; else noReview">
          <app-coq-form-data *ngFor="let d of coqForm.liquidProductReviewData;"></app-coq-form-data>
        </div>
        
        <ng-template #noReview>
          <p class="text-slate-600 text-center">No Certificate of Quantity Data pending submission</p>
        </ng-template>
      </div>
        
    </div>
  </div>
</div>
