<div class="view-application">
  <h2 mat-dialog-title class="text-center title">
    APPLICATION REFERENCE : {{ application?.reference }}
  </h2>
  <div mat-dialog-content class="content">
    <div class="application-view">
      <app-application-view-table
        [application]="application"
      ></app-application-view-table>
    </div>
    <div class="application-controls">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> CURRENT DESK </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{ application?.currentDesk }}</p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> APPLICATION HISTORY </mat-panel-title>
        </mat-expansion-panel-header>
        <div
          class="card-list"
          *ngFor="let history of application?.appHistories | firstN : 4"
        >
          <div class="card-item">
            <div class="item-title">Initiator</div>
            <div class="item-content">{{ history.triggeredBy }}</div>
          </div>
          <div class="card-item">
            <div class="item-title">Recipient</div>
            <div class="item-content">{{ history.targetedTo }}</div>
          </div>
          <div class="card-item">
            <div class="item-title">Remark</div>
            <div class="item-content">{{ history.comment }}</div>
          </div>
          <div class="card-item">
            <div class="item-title">Date</div>
            <div class="item-content">{{ history.date }}</div>
          </div>
        </div>
        <p class="show-more" (click)="showMore('appHistory')">Show more</p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> SCHEDULE(S) </mat-panel-title>
        </mat-expansion-panel-header>
        <div
          class="card-list"
          *ngFor="let schedule of application?.schedules | firstN : 4"
        >
          <div
            *ngIf="isCreatedByMe(schedule.scheduledBy)"
            class="flex justify-end"
          >
            <button
              mat-stroked-button
              color="accent"
              (click)="action('editSchedule', schedule)"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </div>

          <div *ngIf="isSupervisor" class="flex justify-end">
            <button
              mat-stroked-button
              color="accent"
              (click)="action('editSchedule', schedule)"
            >
              <mat-icon>check</mat-icon>
            </button>
          </div>

          <div class="card-item">
            <div class="item-title">Initiator</div>
            <div class="item-content">{{ schedule.scheduledBy }}</div>
          </div>
          <div class="card-item">
            <div class="item-title">Schedule Date</div>
            <div class="item-content">{{ schedule.inspectionDate }}</div>
          </div>
          <div class="card-item">
            <div class="item-title">Expiry Date</div>
            <div class="item-content">{{ schedule.expiryDate }}</div>
          </div>
          <!-- <div class="card-item">
            <div class="item-title">Company Status</div>
            <div class="item-content">{{ schedule.companyStatus }}</div>
          </div> -->
          <div class="card-item">
            <div class="item-title">Approval Remark</div>
            <div class="item-content">{{ schedule.approvalMessage }}</div>
          </div>
          <div class="card-item">
            <div class="item-title">Approver</div>
            <div class="item-content">{{ schedule.approvedBy }}</div>
          </div>
          <div class="card-item">
            <div class="item-title">Approval Status</div>
            <div class="item-content">
              {{
                schedule.isApproved
                  ? "Approved"
                  : schedule.isApproved === null
                  ? "Approval Pending"
                  : "Disapproved"
              }}
            </div>
          </div>
          <div class="card-item">
            <div class="item-title">Approval Accepted</div>
            <div class="item-content">
              {{
                schedule.isApproved
                  ? "Approved"
                  : schedule.isApproved === null
                  ? "Approval Pending"
                  : "Disapproved"
              }}
            </div>
          </div>
        </div>
        <p class="show-more" (click)="showMore('schedules')">Show more</p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> INSPECTION FORM(S) </mat-panel-title>
        </mat-expansion-panel-header>
        <div
          class="card-list"
          *ngFor="
            let inspectionForm of application?.inspectionForm | firstN : 4
          "
        >
          <div class="card-item">
            <div class="item-title">Initiator</div>
            <div class="item-content">{{ inspectionForm.actionBy }}</div>
          </div>
          <div class="card-item">
            <div class="item-title">Remark</div>
            <div class="item-content">{{ inspectionForm.comment }}</div>
          </div>
          <div class="card-item">
            <div class="item-title">Date</div>
            <div class="item-content">{{ inspectionForm.date }}</div>
          </div>
        </div>
        <p class="show-more" (click)="showMore('inspectionForm')">Show more</p>
      </mat-expansion-panel>

      <!-- <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> APPLICATION REPORTS </mat-panel-title>
      </mat-expansion-panel-header>
      <p>application reports</p>
    </mat-expansion-panel> -->

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> EXTRA PAYMENTS </mat-panel-title>
        </mat-expansion-panel-header>
        <div
          class="card-list"
          *ngFor="let extraPayment of application?.extraPayments | firstN : 4"
        >
          <div class="card-item">
            <div class="item-title">Initiator</div>
            <div class="item-content">{{ extraPayment.actionBy }}</div>
          </div>
          <div class="card-item">
            <div class="item-title">Remark</div>
            <div class="item-content">{{ extraPayment.comment }}</div>
          </div>
          <div class="card-item">
            <div class="item-title">Date</div>
            <div class="item-content">{{ extraPayment.date }}</div>
          </div>
        </div>
        <p class="show-more" (click)="showMore('extraPayments')">Show more</p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> UPLOADED DOCUMENTS </mat-panel-title>
        </mat-expansion-panel-header>
        <div
          class="card-list"
          *ngFor="let applicationDoc of application?.documents | firstN : 4"
        >
          <div class="card-item">
            <div class="item-title">
              <a [href]="applicationDoc.docSource" target="_blank">
                <img
                  *ngIf="isPDF(applicationDoc.docSource)"
                  src="../../../../assets/image/pdfIcon.png"
                  alt="open file"
                />

                <img
                  *ngIf="isIMG(applicationDoc.docSource)"
                  src="../../../../assets/image/imageIcon.png"
                  alt="open file"
                />

                <img
                  *ngIf="
                    !isIMG(applicationDoc.docSource) &&
                    !isPDF(applicationDoc.docSource)
                  "
                  src="../../../../assets/image/otherFileType.png"
                  alt="open file"
                />
              </a>
            </div>
            <div class="item-content">
              <a [href]="applicationDoc.docSource" target="_blank">
                {{ applicationDoc.docName }}
              </a>
            </div>
          </div>
        </div>
        <p class="show-more" (click)="showMore('applicationDocs')">Show more</p>
      </mat-expansion-panel>
    </div>
    <div class="application-controls" *ngIf="isStaffDesk">
      <div class="actions">
        <button mat-raised-button color="primary" (click)="action('approve')">
          Approve
        </button>
        <button mat-raised-button color="warn" (click)="action('sendBack')">
          Send Back
        </button>
        <button
          mat-stroked-button
          color="accent"
          (click)="action('addSchedule')"
        >
          Add Schedule
        </button>

        <!-- todo: display button only if role is HMUR -->
        <button
          mat-stroked-button
          color="primary"
          (click)="action('assignApplication')"
        >
          Delegate Application
        </button>
      </div>
    </div>
  </div>
  <!-- <div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div> -->
</div>
