<div class="setting-desk">
  <h2 class="page-title bg-yellow-500 text-yellow-800 bg-gradient-to-r from-[#3a6073] to-[#3a7bd5]">ALL APPLICATIONS BY DEPOT</h2>
  <div>
    <div class="table-group">
      <div class="table-wrapper">
        <generic-table
          [table_title]="tableTitles.applications"
          [title-color]="'purple'"
          [table_keysMappedToHeaders]="applicationKeysMappedToHeaders"
          [table_content]="applications"
          [EnableViewControl]="true"
          [noAddOrDeleteButton]="true"
          [noCheckControls]="true"
          [noEditControl]="true"    
        >
        </generic-table>
      </div>
    </div>
  </div>
</div>
