.card-area {
  @apply m-2 mb-8 p-8 flex flex-wrap gap-4;
}

.card {
  box-shadow: 3px 5px 1px 0px #9b884a;
  border-radius: 60px;
  border-color: transparent !important;
  min-width: fit-content;
  @apply p-6 pb-4 flex flex-1 flex-col h-52 flex-wrap gap-2 justify-between bg-gradient-to-r from-yellow-200 to-yellow-400;
}

.card:hover .card-title {
  text-decoration: underline;
}

.card-red {
  box-shadow: 3px 5px 1px 0px #9b4a4a;
  border-color: transparent !important;
  @apply bg-gradient-to-r from-red-200 to-red-400;
}

.card-green {
  box-shadow: 3px 5px 1px 0px #519b4a;
  border-color: transparent !important;
  @apply bg-gradient-to-r from-green-200 to-green-400;
}

.card-blue {
  box-shadow: 3px 5px 1px 0px #4a4f9b;
  border-color: transparent !important;
  @apply bg-gradient-to-r from-blue-200 to-blue-400;
}

.card-purple {
  box-shadow: 3px 5px 1px 0px #814a9b;
  border-color: transparent !important;
  @apply bg-gradient-to-r from-purple-200 to-purple-400;
}

.card-data {
  @apply flex justify-between;
}

.card-title {
  @apply self-end font-bold text-gray-600 text-sm;
}

.card-data span {
  @apply text-4xl font-semibold text-gray-800 lg:text-6xl;
}

.card-data div {
  @apply flex-1;
}

.content {
  /* box-shadow: 0px 4px 5px #888888; */
  @apply flex flex-col w-full mt-20 -mt-content_mt bg-content_area p-4;
}

.chart-title {
  @apply flex justify-center items-center py-4;
}

.row-container {
  @apply flex flex-wrap justify-center items-center my-10 w-full;
}

/** Dashboard css ends here */
