/** Toggle side nav css */
.dashboard {
  width: calc(100% - 19rem);
  margin-left: 19rem;
  @apply relative min-h-screen bg-background transition-all ease-in-out delay-150 duration-500;
}

.content-area {
  /* @apply mt-12 bg-[#e5f0f6]; */
  @apply mt-12 bg-background;
}

.progress-bar {
  @apply absolute w-screen h-screen;
}

.dashboard-expanded {
  width: 100%;
  margin-left: 0px;
}
