<div class="setting-desk">
  <h2 class="page-title bg-yellow-500 text-yellow-800">ALL CERTIFICATES</h2>
  <div>
    <!-- <mat-tab-group> -->
    <!-- <mat-tab *ngFor="let cat of categories" [label]="cat.name"> -->
    <div class="table-group">
      <div class="table-wrapper">
        <generic-table
          [table_title]="tableTitles.applications"
          [title-color]="'yellow'"
          [table_keysMappedToHeaders]="applicationKeysMappedToHeaders"
          [table_content]="applications"
          [EnableViewLicenceControl]="true"
          [noAddOrDeleteButton]="true"
          [noCheckControls]="true"
          [noEditControl]="true"
          [noTitle]="true"
          (onViewData)="onViewData($event, 'applications')"
        >
        </generic-table>
      </div>
    </div>
    <!-- </mat-tab> -->
    <!-- </mat-tab-group> -->
  </div>
</div>
