<div class="view-application-container">
  <button (click)="location.back()" class="my-4" mat-button>
    <mat-icon>keyboard_backspace</mat-icon>&nbsp;Back to View All
  </button>
  <div class="view-application">
    <h2 mat-dialog-title class="text-center page-title">
      APPLICATION REFERENCE :
      {{ isProcessingPlant ? ppCoq?.reference : application?.reference }}
    </h2>

    <div mat-dialog-content class="content !overflow-x-auto">
      <div class="application-view flex-1">
        <app-coq-application-view-table
          [application]="isPPCOQ ? ppCoq : application"
          [appId]="coqId"
          [appSource]="appSource"
          [tankList]="tanksList"
          [isCoqProcessor]="isCOQProcessor"
          [isProcessingPlant]="isProcessingPlant"
        ></app-coq-application-view-table>
      </div>
      <div class="application-controls">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> CURRENT DESK </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            {{
              isProcessingPlant
                ? ppCoq?.currentDeskName + " (" + ppCoq?.currentDeskEmail + ")"
                : application?.CurrentDesk
            }}
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> UPLOADED DOCUMENTS </mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngIf="documents" class="card-list">
            <div class="card-item">
              <div class="item-title">
                <a [href]="documents?.docSource" target="_blank">
                  <img
                    *ngIf="isPDF(documents?.docSource)"
                    src="../../../../assets/image/pdfIcon.png"
                    alt="open file"
                  />

                  <img
                    *ngIf="isIMG(documents?.docSource)"
                    src="../../../../assets/image/imageIcon.png"
                    alt="open file"
                  />

                  <img
                    *ngIf="
                      !isIMG(documents?.docSource) &&
                      !isPDF(documents?.docSource)
                    "
                    src="../../../../assets/image/otherFileType.png"
                    alt="open file"
                  />
                </a>
              </div>
              <div class="item-content">
                <a [href]="documents?.docSource" target="_blank">
                  {{ documents?.docName }}
                </a>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </div>

      <ng-container *ngIf="appLoaded">
        <div class="application-controls" *ngIf="isStaffDesk">
          <div class="actions">
            <button
              mat-raised-button
              class="bg-green-500 text-white"
              (click)="action('approve')"
            >
              Approve
            </button>
            <button mat-raised-button color="warn" (click)="action('sendBack')">
              Send Back
            </button>
          </div>
        </div>
      </ng-container>

      <!-- <div class="application-controls" *ngIf="isStaffDesk && isFAD">
        <div class="actions">
          <button
            mat-raised-button
            class="bg-yellow-500 text-white"
            (click)="previewDebitNote()"
          >
            Preview Debit Note
          </button>
          <button
            mat-raised-button
            class="bg-green-500 text-white"
            (click)="generateDebitNote()"
          >
            Generate Debit Note
          </button>
        </div>
      </div> -->
    </div>
  </div>
</div>
