<div class="card-group">
  <mat-card class="card">
    <mat-card-header class="card-header">
      <div class="title">
        <mat-card-title>DEBIT NOTE PAYMENT DETAILS</mat-card-title>
      </div>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="card-content">
      <div class="container">
        <div class="payment-details__container">
          <br />
          <div *ngIf="paymentSummary?.status !== 'PaymentCompleted'">
            <h3 class="sub-title">Note</h3>
            <ol style="font-family: candara">
              <li>
                Kindly review the following information carefully before
                proceeding to make payment.
              </li>
              <li>
                <i><b>Please note that payment is non-refundable.</b></i>
              </li>
            </ol>
            <hr />
          </div>
          
          <div *ngIf="paymentSummary?.status !== 'PaymentCompleted'">
            <h3 class="sub-title">Payment Description</h3>
            <ol style="font-family: candara">
              <li>{{ paymentSummary?.description }}</li>
            </ol>
            <hr />
          </div>

          <div class="payment-details__table-container">
            <h3 class="sub-title">Payment Details</h3>
            <ol class="payment-details__table-wrapper pt-2">
              <li>
                <table class="table" cellspacing="0">
                  <tbody>
                    <tr *ngIf="paymentSummary?.depotName">
                      <td class="col-title">Depot Name</td>
                      <td class="font-bold">
                        {{ paymentSummary?.depotName }}
                      </td>
                    </tr>
                    <tr *ngIf="paymentSummary?.rrr">
                      <td class="col-title">RRR</td>
                      <td class="font-bold">
                        {{ paymentSummary?.rrr }}
                      </td>
                    </tr>
                  
                    <tr *ngIf="paymentSummary?.totalAmount">
                      <td class="col-title">Total Amount</td>
                      <td class="font-bold">
                        {{ paymentSummary?.totalAmount | currency : "NGN" }}
                      </td>
                    </tr>
                    <tr *ngIf="paymentSummary?.status">
                      <td class="col-title">Payment Status</td>
                      <td
                        class="font-bold"
                        [ngClass]="
                          paymentSummary?.status === 'PaymentCompleted'
                            ? '!text-green-800'
                            : '!text-red-800'
                        "
                      >
                        {{
                          paymentSummary?.status === "PaymentCompleted"
                            ? "Payment Completed"
                            : "Payment Pending"
                        }}
                      </td>
                    </tr>
                  </tbody>
                </table>
  
                <div *ngIf="paymentDetails?.length">
                  <h3 id="payment-breakdown-heading" class="sub-title">Payment Breakdown</h3>
                  <table class="table table-striped" aria-describedby="demand-notices-heading">
                    <thead>
                      <tr>
                        <th>Payment Type</th>
                        <th>Issued Date</th>
                        <th>Amount</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let dn of paymentDetails">
                        <td>{{ dn?.paymentType }}</td>
                        <td>{{ dn?.createdDate }}</td>
                        <td>{{ dn?.amount | currency: 'NGN' }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </li>
            </ol>
            <hr />
          </div>
        </div>
      </div>
    </mat-card-content>
    
    <mat-card-actions class="btns">
      <a
        mat-flat-button
        *ngIf="(isPaymentNotComfirmed$ | async) === true"
        (click)="payNow()"
        class="pay-color"
        >Pay Now</a
      >
      <a
        mat-flat-button
        *ngIf="!(rrr$ | async) && paymentSummary"
        (click)="generateRRR()"
        class="grrr-color"
        >Generate RRR</a
      >
    </mat-card-actions>
  </mat-card>
</div>
