<div class="card-group">
  <mat-card class="card">
    <mat-card-header class="card-header">
      <div class="title">
        <mat-card-title>APPLICATION PAYMENT DETAILS</mat-card-title>
      </div>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="card-content">
      <div class="container">
        <div class="payment-details__container">
          <br />
          <div *ngIf="paymentSummary?.paymentStatus !== 'PaymentCompleted'">
            <h3 class="sub-title">Note</h3>
            <ol style="font-family: candara">
              <li>
                Processing of your application shall commence upon confirmation
                of payment and upload/submission of required documents.
              </li>
              <li>
                Kindly review the following information carefully before
                proceeding to make payment.
              </li>
              <li>
                Application information can not be changed after payment and
                submission have been completed.
              </li>
              <li>
                <i><b>Please note that payment is non-refundable.</b></i>
              </li>
            </ol>
          </div>
          <div *ngIf="paymentSummary?.paymentStatus !== 'PaymentCompleted'">
            <h3 class="sub-title">Payment Description</h3>
            <div style="font-family: candara">
              <p>{{ paymentSummary?.description }}</p>
            </div>
          </div>
          <div class="payment-details__table-container">
            <h3 class="sub-title">Payment Details</h3>
            <hr />
            <div class="payment-details__table-wrapper">
              <table class="table" cellspacing="0">
                <tbody>
                  <tr>
                    <td class="col-title">Reference No</td>
                    <td class="font-bold">
                      {{ paymentSummary?.appReference }}
                    </td>
                  </tr>
                  <tr>
                    <td class="col-title">Vessel Name</td>
                    <td class="font-bold">
                      {{ paymentSummary?.vesselName }}
                    </td>
                  </tr>
                  <tr>
                    <td class="col-title">RRR</td>
                    <td class="font-bold">
                      {{ rrr$ | async }}
                    </td>
                  </tr>
                  <tr>
                    <td class="col-title">Application Fee</td>
                    <td class="font-bold">
                      {{ paymentSummary?.applicationFee | currency : "NGN" }}
                    </td>
                  </tr>
                  
                  <tr *ngIf="paymentSummary?.paymentDescription">
                    <td class="col-title">Payment Description</td>
                    <td class="font-bold">
                      {{ paymentSummary?.paymentDescription }}
                    </td>
                  </tr>
                  <tr>
                    <td class="col-title">Service Charge</td>
                    <td class="font-bold">
                      {{ paymentSummary?.serviceCharge | currency : "NGN" }}
                    </td>
                  </tr>
                  <tr>
                    <td class="col-title">Total Amount</td>
                    <td class="font-bold">
                      {{ paymentSummary?.totalAmount | currency : "NGN" }}
                    </td>
                  </tr>
                  <tr *ngIf="paymentSummary?.paymentStatus">
                    <td class="col-title">Payment Status</td>
                    <td
                      class="font-bold"
                      [ngClass]="
                        paymentSummary?.paymentStatus === 'PaymentCompleted'
                          ? '!text-green-800'
                          : '!text-red-800'
                      "
                    >
                      {{
                        paymentSummary?.paymentStatus === "PaymentCompleted"
                          ? "Payment Completed"
                          : "Payment pending"
                      }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions class="btns">
      <!-- <a mat-flat-button class="neutral" (click)="back()">Go Back</a> -->
      <a
        mat-flat-button
        *ngIf="isPaymentNotComfirmed$ | async"
        (click)="submitPayment()"
        class="pay-color"
        >Pay Online</a
      >
      <a
        mat-flat-button
        *ngIf="!(rrr$ | async) && paymentSummary"
        (click)="generateRRR()"
        class="grrr-color"
        >Generate RRR</a
      >
    </mat-card-actions>
  </mat-card>
</div>
