.table {
  width: 100%;
  @apply shadow-lg;
}

.table tr:nth-child(odd) {
  background-color: white;
}

.table th,
td {
  @apply p-4 rounded-md;
}

.table th {
  background-color: #3e4e50;
  @apply text-slate-100;
}

.btn {
  @apply font-bold text-white bg-[#3e4e50] uppercase p-2 border-4 w-full md:w-[70%];
}