<table class="table">
  <tbody>
    <tr>
      <th>Reference Number</th>
      <td>{{ application?.reference }}</td>
    </tr>
    <tr>
      <th>Company Name</th>
      <td>{{ application?.companyName }}</td>
    </tr>
    <tr>
      <th>Company Email</th>
      <td>{{ application?.email }}</td>
    </tr>
    <tr>
      <th>Vessel Name</th>
      <td>{{ application?.vessel.name }}</td>
    </tr>
    <tr>
      <th>Vessel IMO Number</th>
      <td>{{ application?.vessel.imoNumber }}</td>
    </tr>
    <tr>
      <th>Application Type</th>
      <td>{{ application?.appType }}</td>
    </tr>
    <!-- <tr>
      <th>Category</th>
      <td>{{ application?.category }}</td>
    </tr>
    <tr>
      <th>Permit Type</th>
      <td>{{ application?.permitType }}</td>
    </tr> -->
    <tr>
      <th>Application Status</th>
      <td>{{ application?.status }}</td>
    </tr>
    <tr>
      <th>Payment Status</th>
      <td>{{ application?.paymnetStatus }}</td>
    </tr>
    <tr>
      <th>Payment Date</th>
      <td>{{ application?.paymnetDate }}</td>
    </tr>
    <tr>
      <th>Initiated On</th>
      <td>{{ application?.createdDate }}</td>
    </tr>
    <tr>
      <th>Submitted On</th>
      <td>{{ application?.submittedDate }}</td>
    </tr>
    <!-- <tr>
      <th>View COQ Application</th>
      <td>
        <button mat-raised-button class="btn" (click)="viewCOQApplication()">
          View Submission
        </button>
      </td>
    </tr> -->
    <tr>
      <th>View Full Application Details</th>
      <td>
        <button mat-raised-button class="btn" (click)="viewApplicationInFull()">
          View All
        </button>
      </td>
    </tr>
  </tbody>
</table>
