.backdrop {
  background-color: #0314368a;
  width: 100vw;
  height: 100vh;
  @apply fixed z-50 overflow-hidden flex flex-col justify-center items-center p-0 top-0 left-0 bottom-0 right-0;
  gap: -2px;
}

.cradle {
  --uib-size: 50px;
  --uib-speed: 1.2s;
  --uib-color: #474554;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--uib-size);
  height: var(--uib-size);
  margin: 0;
  padding: 0;
 }
 
 .cradle__dot {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  width: 25%;
  transform-origin: center top;
 }
 
 .cradle__dot::after {
  content: '';
  display: block;
  width: 100%;
  height: 25%;
  border-radius: 50%;
  background-color: var(--uib-color);
 }

 .cradle__dot:nth-child(odd)::after {
  background-color: #17411D;
 }
 .cradle__dot:nth-child(even)::after {
  background-color: #EEEC09;
 }
 
 .cradle__dot:first-child {
  animation: swing var(--uib-speed) linear infinite;
 }
 
 .cradle__dot:last-child {
  animation: swing2 var(--uib-speed) linear infinite;
 }
 
 @keyframes swing {
  0% {
   transform: rotate(0deg);
   animation-timing-function: ease-out;
  }
 
  25% {
   transform: rotate(70deg);
   animation-timing-function: ease-in;
  }
 
  50% {
   transform: rotate(0deg);
   animation-timing-function: linear;
  }
 }
 
 @keyframes swing2 {
  0% {
   transform: rotate(0deg);
   animation-timing-function: linear;
  }
 
  50% {
   transform: rotate(0deg);
   animation-timing-function: ease-out;
  }
 
  75% {
   transform: rotate(-70deg);
   animation-timing-function: ease-in;
  }
 }
 