<li class="nav-item sidebar-nav collapsible-header">
  <a routerLinkActive="active" href="#" class="nav-link nav-link-collapsee">
    <i class="ni fa fa-address-book text-info"></i>
    Desk
  </a>
  <div
    class="nav-item-link collapsible-body"
    style="transition-property: height"
  >
    <ul class="sub-menu">
      <li class="current-menu-item">
        <a class="nav-link" href="#" [routerLink]="['/admin/staff-desk']">
          <i class="fab fa-accusoft text-warning"></i>
          <span style="margin-left: 1em">My Desk</span>
        </a>
      </li>
      <li class="current-menu-item">
        <a class="nav-link" href="#">
          <!-- <i class="fab fa-accusoft text-warning"></i> -->
          <i
            class="fas fa-american-sign-language-interpreting text-warning"
          ></i>
          <span style="margin-left: 1em">Staff Desk</span>
        </a>
      </li>
    </ul>
  </div>
</li>
<li class="nav-item collapsible-header">
  <a href="#" class="nav-link nav-link-collapse active">
    <i class="ni fab fa-accessible-icon text-success"></i>
    Applications
  </a>
  <div
    class="nav-item-link collapsible-body"
    style="transition-property: height"
  >
    <ul class="sub-menu">
      <li class="current-menu-item">
        <a class="nav-link" href="#" [routerLink]="['/admin/application']">
          <i class="ni far fa-address-book text-warning"></i>
          <span>All Applications</span>
        </a>
      </li>
    </ul>
  </div>
</li>
<li class="nav-item collapsible-header">
  <a href="#" class="nav-link nav-link-collapse active">
    <i class="ni fas fa-money-bill-wave text-primary" aria-hidden="true"></i>

    Payments
  </a>
  <div
    class="nav-item-link collapsible-body"
    style="transition-property: height"
  >
    <ul class="sub-menu">
      <li class="current-menu-item">
        <a class="nav-link" href="#">
          <i class="ni far fa-address-book text-warning"></i>
          <span>All Payments</span>
        </a>
      </li>
      <li class="current-menu-item">
        <a class="nav-link" href="#">
          <i class="ni far fa-address-book text-warning"></i>
          <span>Extra Payments</span>
        </a>
      </li>
    </ul>
  </div>
</li>
<li class="nav-item collapsible-header">
  <a href="#" class="nav-link nav-link-collapse active">
    <i class="ni fas fa-chart-area text-warning"></i>
    Reports
  </a>
  <div
    class="nav-item-link collapsible-body"
    style="transition-property: height"
  >
    <ul class="sub-menu">
      <li class="current-menu-item">
        <a class="nav-link" href="#">
          <i class="ni fa fa-user-plus text-warning"></i>
          <span>Application Report</span>
        </a>
      </li>
      <li class="current-menu-item">
        <a class="nav-link" href="#">
          <i class="ni fa fa-book-open text-warning"></i>
          <span>Permit Report</span>
        </a>
      </li>
      <li class="current-menu-item">
        <a class="nav-link" href="#">
          <i class="ni fa fa-book text-warning"></i>
          <span>Payment Report</span>
        </a>
      </li>
    </ul>
  </div>
</li>
<li class="nav-item collapsible-header">
  <a href="#" class="nav-link nav-link-collapse active">
    <i class="ni fa fa-cog text-danger"></i>
    Settings
  </a>
  <div
    class="nav-item-link collapsible-body"
    style="transition-property: height"
  >
    <ul class="sub-menu">
      <li class="current-menu-item">
        <a class="nav-link" href="#" [routerLink]="'/admin/all-staff'">
          <i class="ni fa fa-user-plus text-warning"></i>
          <span>User Setup</span>
        </a>
      </li>
      <li class="current-menu-item">
        <a class="nav-link" href="#" [routerLink]="['/admin/modules-setting']">
          <i class="ni fa fa-book-open text-warning"></i>
          <span>Module Settings</span>
        </a>
      </li>
      <li class="current-menu-item">
        <a class="nav-link" href="#" [routerLink]="['/admin/phasedocuments']">
          <i class="ni fa fa-book text-warning"></i>
          <span>App. Stage Docs.</span>
        </a>
      </li>
      <li class="current-menu-item">
        <a
          class="nav-link"
          href="#"
          [routerLink]="['/admin/field-zone-office']"
        >
          <i class="ni fa fa-book text-warning"></i>
          <span>Field/Zonal Offices</span>
        </a>
      </li>
      <li class="current-menu-item">
        <a
          class="nav-link"
          href="#"
          [routerLink]="['/admin/field-zone-office']"
        >
          <i class="ni fa fa-book text-warning"></i>
          <span>Branch(es) Setup</span>
        </a>
      </li>
    </ul>
  </div>
</li>
