<div class="setting-desk">
  <h2 class="page-title bg-red-500 text-red-800">MY DESK</h2>
  <div>
    
    <div class="table-group">
      <div class="table-wrapper">
       
        <generic-table
          [table_keysMappedToHeaders]="getColumnHeaders"
          [table_content]="applications"
          [EnableViewControl]="true"
          [EnableInitiateCoQControl]="isFieldOfficer"
          [noAddOrDeleteButton]="true"
          [noCheckControls]="true"
          [noEditControl]="true"
          [noTitle]="true"
          (onViewData)="onViewData($event, 'applications')"
          (onInitiateCoQ)="initiateCoq($event)"
          
        >
        </generic-table>
      </div>
    </div>
  </div>
</div>
