<div class="dashboard-container">
  <div class="dashboard-wrapper">
    <div class="card">
      <div>
        <h1>
          {{
            dashboard?.deskCount > 0
              ? (dashboard?.deskCount | abbreviatevalue)
              : "0"
          }}
        </h1>
        <img src="../../../assets/img/icons/common/apps.png" />
      </div>
      <p>Application(s)</p>
    </div>

    <div class="card blue-card">
      <div>
        <h1>
          {{
            dashboard?.tProcessing > 0
              ? (dashboard?.tProcessing | abbreviatevalue)
              : "0"
          }}
        </h1>
        <img src="../../../assets/img/icons/common/processing.png" />
      </div>
      <p>Processing</p>
    </div>

    <div class="card green-card">
      <div>
        <h1>
          {{
            dashboard?.tApproved > 0
              ? (dashboard?.tApproved | abbreviatevalue)
              : "0"
          }}
        </h1>
        <img src="../../../assets/img/icons/common/approval.png" />
      </div>
      <p>Approval(s)</p>
    </div>

    <div class="card orange-card">
      <div>
        <h1>
          {{
            dashboard?.debitNote
              ? (dashboard?.debitNote | abbreviatevalue)
              : "0"
          }}
        </h1>
        <img src="../../../assets/img/icons/common/money-stack.png" />
      </div>
      <p class="flex items-center justify-between">
        <span>Total Amount Owed</span>
        <img
          src="../../../assets/img/icons/common/currency-ngn.png"
          width="37"
          height="37"
        />
      </p>
    </div>
  </div>

  <div class="apply" [routerLink]="['/company/apply']">
    <button mat-button class="apply-button">
      Click Here to Apply for Clearance
    </button>
  </div>

  <div class="notification-wrapper">
    <div class="notification">
      <h4 class="font-bold">Notification(s)</h4>
      <p>Find new updates about your applications here.</p>
    </div>

    <hr />

    <div class="messages-wrapper">
      <div class="w-full !min-w-[600px] !overflow-x-auto">
        <h3>RECENT MESSAGE(S)</h3>
        <table class="table table-auto data-table">
          <thead>
            <tr>
              <th *ngFor="let h of msgColumns">{{ h.header }}</th>
            </tr>
          </thead>

          <tbody class="">
            <tr *ngFor="let msg of messages | async; let i = index">
              <td
                *ngFor="let h of msgColumns"
                (click)="viewMessage(i)"
                class="cursor-pointer"
              >
                <i
                  *ngIf="h.header === 'Seen'"
                  class="fas flex items-center"
                  [ngClass]="{
                    'fa-envelope-open': msg.isRead,
                    'fa-envelope text-green-700': !msg.isRead
                  }"
                ></i>
                <!-- <span *ngIf="h.header === 'Seen'"></span> -->
                <span *ngIf="h.header !== 'Seen' && h.header !== 'Date'">{{
                  msg[h.columnDef]
                }}</span>
                <span *ngIf="h.header === 'Date'">{{
                  msg[h.columnDef] | date
                }}</span>
              </td>
              <!-- <td (click)="viewMessage(i)" class="cursor-pointer">
               
              </td> -->
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td [attr.colspan]="msgColumns.length + 1">
                <mat-paginator
                  #paginator
                  [length]="length"
                  [pageSize]="pageSize"
                  [pageSizeOptions]="pageSizeOptions"
                  aria-label="Select page"
                ></mat-paginator>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="news-container">
        <h3>RECENT NEWS</h3>
        <table class="table table-auto data-table">
          <tbody>
            <tr>
              <td>No Available Approval</td>
            </tr>
            <tr>
              <td>CVC</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
