<div class="dashboard-container">
  <div class="dashboard-wrapper">
    <div class="card">
      <div>
        <h1>{{ dashboard?.deskCount > 0 ? (dashboard?.deskCount | abbreviatevalue) : '0'}}</h1>
        <img src="../../../assets/img/icons/common/apps.png" />
      </div>
      <p>Application(s)</p>
    </div>

    <div class="card blue-card">
      <div>
        <h1>{{ dashboard?.tProcessing > 0 ? (dashboard?.tProcessing | abbreviatevalue) : '0' }}</h1>
        <img src="../../../assets/img/icons/common/processing.png" />
      </div>
      <p>Processing</p>
    </div>

    <div class="card green-card">
      <div>
        <h1>{{ dashboard?.tApproved > 0 ? (dashboard?.tApproved | abbreviatevalue) : '0' }}</h1>
        <img src="../../../assets/img/icons/common/approval.png" />
      </div>
      <p>Approval(s)</p>
    </div>

    <div class="card orange-card">
      <div>
        <h1>
          {{ dashboard?.debitNote ? ( dashboard?.debitNote | abbreviatevalue) : '0' }}
        </h1>
        <img src="../../../assets/img/icons/common/money-stack.png" />
      </div>
      <p class="flex items-center justify-between">
        <span>Total Amount Owed</span>
        <img src="../../../assets/img/icons/common/currency-ngn.png" width="37" height="37" />
      </p>
    </div>
  </div>

  <div class="apply" [routerLink]="['/company/apply']">
    <button
      mat-button 
      class="apply-button"
    >Click Here to Apply for Clearance</button>
  </div>

  <div class="notification-wrapper">
    <div class="notification">
      <h4 class="font-bold">Notification(s)</h4>
      <p>Find new updates about your applications here.</p>
    </div>

    <hr />

    <div class="messages-wrapper">
      <div class="message-container">
        <h3>RECENT MESSAGE(S)</h3>
        <table class="table table-auto data-table">
          <thead>
            <tr>
              <th>Seen</th>
              <th>Subject</th>
              <th>Date</th>
            </tr>
          </thead>
  
          <tbody>
            <tr *ngFor="let msg of messages; let i = index">
              <td (click)="viewMessage(i)" class="cursor-pointer">
                <i
                  class="fas"
                  [ngClass]="{
                    'fa-envelope-open': msg.seen,
                    'fa-envelope text-green-700': !msg.seen
                  }"
                ></i>
              </td>
              <td (click)="viewMessage(i)" class="cursor-pointer">
                {{ msg.subject }}
              </td>
              <td>{{ msg.date | date }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="news-container">
        <h3>RECENT NEWS</h3>
        <table class="table table-auto data-table">
          <tbody>
            <tr>
              <td>No Available Approval</td>
            </tr>
            <tr>
              <td>CVC</td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>

  </div>
</div>
