<form [formGroup]="form" class="form">
  <div class="text-right ">
    <button mat-icon-button class="close-btn" (click)="closeDialog()"><mat-icon>close</mat-icon></button>
  </div>
  <h5 class="text-center">Edit  <span class="text-slate-500 font-medium">{{ data.title }}</span></h5>
  <div class="grid gap-4 gap-y-2 text-sm grid-cols-1">
    <div class="md:col-span-1">
      <label>DIP(m) <sup class="text-red-700">*</sup></label>
      <input
        type="number"
        name="dip"
        formControlName="dip"
        class="form-field"
        required
      />
    </div>
    <div class="md:col-span-1">
      <label>WATER DIP <sup class="text-red-700">*</sup></label>
      <input
        type="number"
        name="waterDIP"
        formControlName="waterDIP"
        class="form-field"
        required
      />
    </div>
    <div class="md:col-span-1">
      <label>TOV(m<sup>3</sup>) <sup class="text-red-700">*</sup></label>
      <input
        type="number"
        name="tov"
        formControlName="tov"
        class="form-field"
        required
      />
    </div>

    <div class="md:col-span-1">
      <label>WATER VOI <sup class="text-red-700">*</sup></label>
      <input
        type="number"
        name="waterVOI"
        formControlName="waterVOI"
        class="form-field"
        required
      />
    </div>
    <div class="md:col-span-1">
      <label>CORR(m<sup>3</sup>)</label>
      <input
        type="number"
        name="corr"
        formControlName="corr"
        class="form-field"
      />
    </div>
    <div class="md:col-span-1">
      <label>GOV(m<sup>3</sup>) <sup class="text-red-700">*</sup></label>
      <input
        type="number"
        formControlName="gov"
        class="form-field"
        required
      />
    </div>
    <div class="md:col-span-1">
      <label>TEMP(<sup>0</sup>C) <sup class="text-red-700">*</sup></label>
      <input
        type="number"
        name="temp"
        formControlName="temp"
        class="form-field"
        required
      />
    </div>

    <div class="md:col-span-1">
      <label>DENSITY <sup class="text-red-700">*</sup></label>
      <input
        type="number"
        name="density"
        formControlName="density"
        class="form-field"
        required
      />
    </div>
    <div class="md:col-span-1">
      <label>VCF <sup class="text-red-700">*</sup></label>
      <input
        type="number"
        name="vcf"
        formControlName="vcf"
        class="form-field"
      />
    </div>

    <div class="md:col-span-1">
      <label>GSV <sup class="text-red-700">*</sup></label>
      <input
        type="number"
        name="gsv"
        formControlName="gsv"
        class="form-field"
        required
      />
    </div>
    <div class="md:col-span-1">
      <label>MT(VAC) <sup class="text-red-700">*</sup></label>
      <input
        type="number"
        name="mtVAC"
        formControlName="mtVAC"
        class="form-field"
        required
      />
    </div>

    <div *ngIf="form.valid" class="md:col-span-1 text-right">
      <button
        mat-raised-button
        type="submit"
        (click)="edit()"
        color="primary"
      >
        Update
      </button>
    </div>
  </div>
</form>
