<div class="text-right ">
  <button mat-icon-button class="close-btn" (click)="closeDialog()"><mat-icon>close</mat-icon></button>
</div>
<h5 class="text-center">Edit  <span class="text-slate-500 font-medium">{{ data.title }}</span></h5>

<ng-container *ngIf="!isGasProduct">
  <form [formGroup]="form" class="form">
    <div class="grid gap-4 gap-y-2 text-sm grid-cols-1">
      <div class="md:col-span-1">
        <label>DIP(m) <sup class="text-red-700">*</sup></label>
        <input
          type="number"
          name="dip"
          formControlName="dip"
          class="form-field"
          required
        />
      </div>
      <div class="md:col-span-1">
        <label>WATER DIP <sup class="text-red-700">*</sup></label>
        <input
          type="number"
          name="waterDIP"
          formControlName="waterDIP"
          class="form-field"
          required
        />
      </div>
      <div class="md:col-span-1">
        <label>TOV(m<sup>3</sup>) <sup class="text-red-700">*</sup></label>
        <input
          type="number"
          name="tov"
          formControlName="tov"
          class="form-field"
          required
        />
      </div>
  
      <div class="md:col-span-1">
        <label>WATER VOI <sup class="text-red-700">*</sup></label>
        <input
          type="number"
          name="waterVOI"
          formControlName="waterVOI"
          class="form-field"
          required
        />
      </div>
      <div class="md:col-span-1">
        <label>CORR(m<sup>3</sup>)</label>
        <input
          type="number"
          name="corr"
          formControlName="corr"
          class="form-field"
        />
      </div>
      <div class="md:col-span-1">
        <label>GOV(m<sup>3</sup>) <sup class="text-red-700">*</sup></label>
        <input
          type="number"
          formControlName="gov"
          class="form-field"
          required
        />
      </div>
      <div class="md:col-span-1">
        <label>TEMP(<sup>0</sup>C) <sup class="text-red-700">*</sup></label>
        <input
          type="number"
          name="temp"
          formControlName="temp"
          class="form-field"
          required
        />
      </div>
  
      <div class="md:col-span-1">
        <label>DENSITY <sup class="text-red-700">*</sup></label>
        <input
          type="number"
          name="density"
          formControlName="density"
          class="form-field"
          required
        />
      </div>
      <div class="md:col-span-1">
        <label>VCF <sup class="text-red-700">*</sup></label>
        <input
          type="number"
          name="vcf"
          formControlName="vcf"
          class="form-field"
        />
      </div>
  
      <div class="md:col-span-1">
        <label>GSV <sup class="text-red-700">*</sup></label>
        <input
          type="number"
          name="gsv"
          formControlName="gsv"
          class="form-field"
          required
        />
      </div>
      <div class="md:col-span-1">
        <label>MT(VAC) <sup class="text-red-700">*</sup></label>
        <input
          type="number"
          name="mtVAC"
          formControlName="mtVAC"
          class="form-field"
          required
        />
      </div>
  
      <div *ngIf="form.valid" class="md:col-span-1 text-right">
        <button
          mat-raised-button
          type="submit"
          (click)="edit()"
          color="primary"
        >
          Update
        </button>
      </div>
    </div>
  </form>
</ng-container>

<ng-container *ngIf="isGasProduct">
  <form [formGroup]="form">
    <div class="grid gap-4 gap-y-2 text-sm grid-cols-1">
      <div class="md:col-span-1">
        <label for="coq-liquid-product-liquidDensityVac">Liquid Density at 15<sup>0</sup>C(Kg/l), Vac <sup class="text-red-700">*</sup></label>
        <input
          type="number"
          name="liquidDensityVac"
          formControlName="liquidDensityVac"
          id="coq-liquid-product-liquidDensityVac"
          class="form-field"
        />
      </div>

      <div class="md:col-span-1">
        <label for="coq-liquid-product-observedSounding">Observed Sounding (m) <sup class="text-red-700">*</sup></label>
        <input
          type="number"
          name="observedSounding"
          formControlName="observedSounding"
          id="coq-liquid-product-observedSounding"
          class="form-field"
        />
      </div>
    
      <div class="md:col-span-1">
        <label for="coq-liquid-product-tapeCorrection">Tape Correction (m) <sup class="text-red-700">*</sup></label>
        <input
          type="number"
          name="tapeCorrection"
          formControlName="tapeCorrection"
          id="coq-liquid-product-tapeCorrection"
          class="form-field"
        />
      </div>
    
      <div class="md:col-span-1">
        <label for="coq-liquid-product-liquidTemperature">Liquid Temperature (<sup>0</sup>C) <sup class="text-red-700">*</sup></label>
        <input
          type="number"
          name="liquidTemperature"
          formControlName="liquidTemperature"
          id="coq-liquid-product-liquidTemperature"
          class="form-field"
        />
      </div>

      <div class="md:col-span-1">
        <label for="coq-liquid-product-observedLiquidVolume">Observed Liquid Volume (m<sup>3</sup>) <sup class="text-red-700">*</sup></label>
        <input
          type="number"
          name="observedLiquidVolume"
          formControlName="observedLiquidVolume"
          id="coq-liquid-product-observedLiquidVolume"
          class="form-field"
        />
      </div>

      <div class="md:col-span-1">
        <label for="coq-liquid-product-shrinkageFactor">Shrinkage Factor <sup class="text-red-700">*</sup></label>
        <input
          type="number"
          name="shrinkageFactor"
          formControlName="shrinkageFactor"
          id="coq-liquid-product-shrinkageFactor"
          class="form-field form-control"
        />
      </div>

      <div class="md:col-span-1">
        <label for="coq-liquid-product-vcf">VCF (ASTM Table 54) <sup class="text-red-700">*</sup></label>
        <input
          type="number"
          name="vcf"
          formControlName="vcf"
          id="coq-liquid-product-vcf"
          class="form-field"
        />
      </div>

      <div class="md:col-span-1">
        <label for="coq-liquid-product-tankVolume">100% Tank Volume <sup class="text-red-700">*</sup></label>
        <input
          type="number"
          name="tankVolume"
          formControlName="tankVolume"
          id="coq-liquid-product-tankVolume"
          class="form-field"
        />
      </div>

      <div class="md:col-span-1">
        <label for="coq-liquid-product-vapourTemperature">Vapor Temperature (<sup>0</sup>C) <sup class="text-red-700">*</sup></label>
        <input
          type="number"
          name="vapourTemperature"
          formControlName="vapourTemperature"
          id="coq-liquid-product-vapourTemperature"
          class="form-field"
        />
      </div>

      <div class="md:col-span-1">
        <label for="coq-liquid-product-vapourPressure">Vapour Pressure (Bar) <sup class="text-red-700">*</sup></label>
        <input
          type="number"
          name="vapourPressure"
          formControlName="vapourPressure"
          id="coq-liquid-product-vapourPressure"
          class="form-field"
        />
      </div>

      <div class="md:col-span-1">
        <label for="coq-liquid-product-molecularWeight">Molecular Weight <sup class="text-red-700">*</sup></label>
        <input
          type="number"
          name="molecularWeight"
          formControlName="molecularWeight"
          id="coq-liquid-product-molecularWeight"
          class="form-field"
        />
      </div>

      <div class="md:col-span-1">
        <label for="coq-liquid-product-vapourFactor">Vapour Factor <sup class="text-red-700">*</sup></label>
        <input
          type="number"
          name="vapourFactor"
          formControlName="vapourFactor"
          id="coq-liquid-product-vapourFactor"
          class="form-field"
        />
      </div>
    </div>
  </form>
</ng-container>