<div class="container">
  <button (click)="location.back()" class="my-4 text-lg" mat-button>
    <mat-icon>keyboard_backspace</mat-icon>&nbsp;&nbsp;Go Back
  </button>
  <div *ngIf="application; else noData" class="application-details">
    <h1>FULL APPLICATION DETAILS</h1>

    <div class="info-sections-wrapper">
      <h2 *ngIf="application?.reference">
        APPLICATION REFERENCE : {{ application?.reference }}
      </h2>
      <section class="info-section">
        <h3>Reference Information</h3>
        <div class="info-wrapper">
          <div>
            <h5>Reference Number</h5>
            <hr />
            <ng-container *ngIf="application?.reference; else noData">
              <span>{{ application?.reference }}</span>
            </ng-container>
          </div>
          <div>
            <h5>Application Type</h5>
            <hr />
            <ng-container *ngIf="application?.appType; else noData">
              <span>{{ application?.appType }}</span>
            </ng-container>
          </div>
          <div>
            <h5>Application Status</h5>
            <hr />
            <ng-container *ngIf="application?.status; else noData">
              <span>{{ application?.status }}</span>
            </ng-container>
          </div>
        </div>
      </section>
      <section class="info-section">
        <h3>Company Information</h3>
        <div class="info-wrapper">
          <div>
            <h5>Company Name</h5>
            <hr />
            <ng-container *ngIf="application?.companyName; else noData">
              <span>{{ application?.companyName }}</span>
            </ng-container>
          </div>
          <div>
            <h5>Company Email</h5>
            <hr />
            <ng-container *ngIf="application?.email; else noData">
              <span>{{ application?.email }}</span>
            </ng-container>
          </div>
          <div *ngIf="application?.companyAddress">
            <h5>Company Address</h5>
            <hr />
            <ng-container *ngIf="application?.companyAddress; else noData">
              <span>{{ application?.companyAddress }}</span>
            </ng-container>
          </div>
        </div>
      </section>
      <section class="info-section">
        <h3>Vessel Information</h3>
        <div class="info-wrapper">
          <div>
            <h5>Vessel Name</h5>
            <hr />
            <ng-container *ngIf="application?.vessel?.name; else noData">
              <span>{{ application?.vessel?.name }}</span>
            </ng-container>
          </div>
          <div>
            <h5>Vessel Type</h5>
            <hr />
            <ng-container *ngIf="application?.vessel?.vesselType; else noData">
              <span>{{ application?.vessel.vesselType }}</span>
            </ng-container>
          </div>
          <div>
            <h5>Loading Port</h5>
            <hr />
            <ng-container *ngIf="application?.vessel?.loadingPort; else noData">
              <span>{{ application?.vessel?.loadingPort }}</span>
            </ng-container>
          </div>
          <div>
            <h5>Jetty</h5>
            <hr />
            <ng-container *ngIf="application?.jetty; else noData">
              <span>{{ application?.jetty }}</span>
            </ng-container>
          </div>
          <div>
            <h5>IMO Number</h5>
            <hr />
            <ng-container *ngIf="application?.vessel?.imoNumber; else noData">
              <span>{{ application?.vessel?.imoNumber }}</span>
            </ng-container>
          </div>
        </div>
      </section>
      <section *ngIf="!isCompany" class="info-section">
        <h3>Payment Information</h3>
        <div class="info-wrapper">
          <div>
            <h5>Payment Status</h5>
            <hr />
            <ng-container *ngIf="application?.paymnetStatus; else noData">
              <span>{{ application?.paymnetStatus }}</span>
            </ng-container>
          </div>
          <div>
            <h5>Payment Description</h5>
            <hr />
            <ng-container *ngIf="application?.paymentDescription; else noData">
              <span>{{ application?.paymentDescription }}</span>
            </ng-container>
          </div>
          <div>
            <h5>RRR</h5>
            <hr />
            <ng-container *ngIf="application?.rrr; else noData">
              <span>{{ application?.rrr }}</span>
            </ng-container>
          </div>
          <div *ngIf="application?.totalAmount">
            <h5>Total Amount Paid</h5>
            <hr />
            <ng-container *ngIf="application?.totalAmount; else noData">
              <span>NGN {{ application?.totalAmount }}</span>
            </ng-container>
          </div>
          <div>
            <h5>Payment Date</h5>
            <hr />
            <ng-container *ngIf="application?.paymnetDate; else noData">
              <span>{{ application?.paymnetDate | formatTimeAmPm }}</span>
            </ng-container>
          </div>
        </div>
      </section>
      <section *ngIf="application?.vessel?.tanks.length" class="info-section">
        <h3>Tanks Information</h3>
        <div *ngFor="let tank of application?.vessel?.tanks; let i = index">
          <div class="tank-info-wrapper">
            <h4>Tank {{ i + 1 }}</h4>
            <hr />
            <div class="info-wrapper">
              <div>
                <h5>Name</h5>
                <hr />
                <ng-container *ngIf="tank?.name; else noData">
                  <span>{{ tank?.name }}</span>
                </ng-container>
              </div>
              <div>
                <h5>Capacity</h5>
                <hr />
                <ng-container *ngIf="tank?.capacity; else noData">
                  <span>{{ tank?.capacity }}</span>
                </ng-container>
              </div>
              <div>
                <h5>Product</h5>
                <hr />
                <ng-container *ngIf="tank?.product; else noData">
                  <span>{{ tank?.product }}</span>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </section>

      <ng-template #noData>
        <span class="empty bg-transparent">Null</span>
      </ng-template>

      <hr />

      <app-view-depots
        [depots]="application.applicationDepots"
      ></app-view-depots>
    </div>

    <div class="application-controls">
      <h3 class="text-slate-500">Other Information</h3>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> APPLICATION HISTORY </mat-panel-title>
        </mat-expansion-panel-header>
        <div
          class="card-list"
          *ngFor="let history of application?.appHistories | firstN : 4"
        >
          <div class="card-item">
            <div class="item-title">Initiator</div>
            <div class="item-content">{{ history.triggeredBy }}</div>
          </div>
          <div class="card-item">
            <div class="item-title">Recipient</div>
            <div class="item-content">{{ history.targetedTo }}</div>
          </div>
          <div class="card-item">
            <div class="item-title">Remark</div>
            <div class="item-content">{{ history.comment }}</div>
          </div>
          <div class="card-item">
            <div class="item-title">Date</div>
            <div class="item-content">{{ history.date }}</div>
          </div>
        </div>
        <p class="show-more" (click)="showMore('appHistory')">Show more</p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> UPLOADED DOCUMENTS </mat-panel-title>
        </mat-expansion-panel-header>
        <div
          class="card-list"
          *ngFor="let applicationDoc of application?.documents | firstN : 4"
        >
          <div class="card-item">
            <div class="item-title">
              <a [href]="applicationDoc?.docSource" target="_blank">
                <img
                  *ngIf="isPDF(applicationDoc?.docSource)"
                  src="../../../../assets/image/pdfIcon.png"
                  alt="open file"
                />

                <img
                  *ngIf="isIMG(applicationDoc?.docSource)"
                  src="../../../../assets/image/imageIcon.png"
                  alt="open file"
                />

                <img
                  *ngIf="
                    !isIMG(applicationDoc?.docSource) &&
                    !isPDF(applicationDoc?.docSource)
                  "
                  src="../../../../assets/image/otherFileType.png"
                  alt="open file"
                />
              </a>
            </div>
            <div class="item-content">
              <a [href]="applicationDoc?.docSource" target="_blank">
                {{ applicationDoc?.docName }}
              </a>
            </div>
          </div>
        </div>
        <p class="show-more" (click)="showMore('applicationDocs')">Show more</p>
      </mat-expansion-panel>
    </div>
  </div>

  <ng-template #noData>
    <div class="flex justify-center items-center">
      <div 
        *ngIf="!loading" 
        class="border-4 p-12 font-bold border-red-300 bg-red-200 text-center"
      >
        Application Details Unavailable
      </div>
    </div>
  </ng-template>
</div>
