<mat-vertical-stepper *ngIf="isShow" class="pl-3 pr-2" linear #coqstepper>
  <mat-step [completed]="isInitialCompleted" [label]="'Initial Measurements'">
    <app-before-condensate-dynamic-data-entry
      (onCompleted)="onCompleted($event)"
    />

    <div class="text-right">
      <button
        mat-raised-button
        matStepperNext
        color="primary"
        [disabled]="!isInitialCompleted"
      >
        Continue
      </button>
    </div>
  </mat-step>

  <mat-step [completed]="isFinalCompleted" [label]="'Final Measurements'">
    <app-after-condensate-dynamic-data-entry
      (onCompleted)="onCompleted($event)"
    />

    <div class="text-right">
      <button
        mat-raised-button
        matStepperNext
        (click)="onCompleteEntry()"
        color="primary"
        [disabled]="!isFinalCompleted"
      >
        Continue / Create New Batch
      </button>
    </div>
  </mat-step>
</mat-vertical-stepper>
