<mat-spinner *ngIf="(loading$ | async) === true"></mat-spinner>
<ng-container *ngIf="(loading$ | async) === false">
  <h1 mat-dialog-title>Select Additional Documents Types</h1>
  <div mat-dialog-content [class]="{ 'min-h-[300px]': true }">
    <form [formGroup]="form">
      <div class="fomr-group" style="margin-bottom: 10px">
        <label>Required Document(s)</label>
        <ng-multiselect-dropdown
          [placeholder]="'Select document(s)'"
          [settings]="docsDropdownSettings"
          [data]="docs$ | async"
          formArrayName="doc"
          (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)"
          (onDeSelect)="onDeSelect($event)"
        >
        </ng-multiselect-dropdown>
      </div>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="onClose()">Close</button>
    <button
      mat-raised-button
      (click)="addDocuments()"
      [disabled]="form.invalid"
    >
      Add
    </button>
  </div>
</ng-container>
