<div class="setting-desk">
  <h2 class="page-title bg-blue-500 text-blue-800">
    DIP METHODS CONFIGURATION
  </h2>
  <div>
    <div class="table-group">
      <div class="table-wrapper">
        <generic-table
          [table_title]="'DIP METHODS'"
          [title-color]="'yellow'"
          [table_keysMappedToHeaders]="dipMethodKeysMappedToHeaders"
          [table_content]="dipMethods"
          [noTitle]="true"
          [table_controls_horizontal]="true"
          (onAddData)="addData()"
          (onDeleteData)="deleteData($event)"
          (onEditData)="editData($event)"
        ></generic-table>
      </div>
    </div>
  </div>
</div>
