<div class="setting-desk">
  <h2 class="page-title bg-yellow-500 text-yellow-800">ALL CoQ APPLICATIONS</h2>

  <ng-container *ngIf="coqs?.length">
    <div>
      <div class="table-group">
        <div class="table-wrapper">
          <generic-table
            [table_title]="'Depot CoQ'"
            [title-color]="'green'"
            [table_keysMappedToHeaders]="coqKeysMappedToHeaders"
            [table_content]="coqs"
            [EnableViewControl]="true"
            [noAddOrDeleteButton]="true"
            [noCheckControls]="true"
            [noEditControl]="true"
            (onViewData)="onViewData($event, 'COQ')"
          >
          </generic-table>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="ppCoqs?.length">
    <div>
      <div class="table-group">
        <div class="table-wrapper">
          <generic-table
            [table_title]="'Processing Plant CoQ'"
            [title-color]="'green'"
            [table_keysMappedToHeaders]="ppCoqKeysMappedToHeaders"
            [table_content]="ppCoqs"
            [EnableViewControl]="true"
            [noAddOrDeleteButton]="true"
            [noCheckControls]="true"
            [noEditControl]="true"
            (onViewData)="onViewData($event, 'PPCOQ')"
          >
          </generic-table>
        </div>
      </div>
    </div>
  </ng-container>


</div>
