<div class="container" style="box-shadow:0 0 5px #c5c5c5; padding: 0 15px 20px 15px; background:white;">
  <div class="panel-body">
    <br><br>
    <p></p>

    <div>

      <div class="row" id="BackImage">

        <br>
        <h3 class="DashCompanyName">All Messages</h3>
        <hr>
      </div>

      <br>

      <div id="MyFacilityTable_wrapper" class="dataTables_wrapper no-footer">
        <div class="dt-buttons flex gap-2"> 
          <button class="dt-button buttons-collection buttons-page-length" tabindex="0"
              aria-controls="MyFacilityTable" aria-haspopup="true"><span>Show 1000 rows</span>
          </button>
          <button class="dt-button buttons-copy buttons-html5" tabindex="0"
              aria-controls="MyFacilityTable"><span>Copy</span>
          </button> 
          <button
              class="dt-button buttons-csv buttons-html5" tabindex="0"
              aria-controls="MyFacilityTable"><span>CSV</span>
          </button> 
          <button
              class="dt-button buttons-excel buttons-html5" tabindex="0"
              aria-controls="MyFacilityTable"><span>Excel</span>
          </button> 
          <button
              class="dt-button buttons-pdf buttons-html5" tabindex="0"
              aria-controls="MyFacilityTable"><span>PDF</span>
          </button> 
          <button
              class="dt-button buttons-print" tabindex="0" aria-controls="MyFacilityTable"><span>Print
                  all</span>
          </button> 
          <button class="dt-button buttons-collection buttons-colvis" tabindex="0"
              aria-controls="MyFacilityTable" aria-haspopup="true"><span>Change columns</span>
          </button> 
        </div>
        <div id="MyFacilityTable_filter" class="dataTables_filter">
          <label for="facility-table-search">
            <input id="facility-table-search" type="search" class="table-search" placeholder="Search by subject" aria-controls="MyFacilityTable" (input)="applyFilter($event)" />
          </label>
        </div>
        <div id="MyFacilityTable_processing" class="dataTables_processing" style="display: none;">Processing...
        </div>
        <br />
        <br />
        <table mat-table [dataSource]="dataSource" class="table table-striped" id="MyFacilityTable" role="grid"
            aria-describedby="MyFacilityTable_info">
            <!-- Seen Column -->
          <ng-container matColumnDef="seen">
            <th mat-header-cell *matHeaderCellDef class="text-bold"> Seen </th>
            <td mat-cell *matCellDef="let element">
              <i class='fas' [ngClass]="{'fa-envelope-open': element.seen, 'fa-envelope': !element.seen}"></i>
            </td>
          </ng-container>

          <!-- MessageSubject Column -->
          <ng-container matColumnDef="messageSubject">
            <th mat-header-cell *matHeaderCellDef> Subject </th>
            <td mat-cell *matCellDef="let element"> {{element.messageSubject}} </td>
          </ng-container>

          <!-- Date Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
          </ng-container>

          <!-- Link Column -->
          <ng-container matColumnDef="link">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">
              <a class="btn btn-primary btn-sm" target="_blank"
                  [href]="element.link"> <i class="fa fa-eye"> </i> View Message
              </a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'row-stripe': row.id % 2 !== 0}"></tr>
          
        </table>
        <div *ngIf="dataSource.paginator" class="dataTables_info" id="MyFacilityTable_info" role="status" aria-live="polite">
          {{ 'Showing ' + (dataSource.paginator.pageIndex * dataSource.paginator.pageSize + (dataSource.filteredData.length > 0 ? 1 : 0)) + ' to ' + (dataSource.paginator.hasNextPage() ? (dataSource.paginator.pageIndex + 1) * 
          (dataSource.paginator.pageSize >= dataSource.filteredData.length ? dataSource.filteredData.length : dataSource.paginator.pageSize) : dataSource.filteredData.length) + ' of ' + dataSource.filteredData.length }} entries
        </div>
        <mat-paginator [pageSizeOptions]="[5, 10, 20, 30]" showFirstLastButtons aria-label="Select page of messages">
        </mat-paginator>
      </div>
    </div>
    
    <br />
    <br />
  </div>
</div>

<br /><br /><br /><br />