<div class="grid grid-cols-2 md:grid-cols-4 mt-4">
  <div class="ml-4 col-span-1">
    <span>
      <b class=""><i class=""></i> Directors List </b>
      &nbsp;
    </span>
    <hr class="" />
    <div id="DirectorNames">
      <span class="btn btn-dark btn-block" onclick="getDirectors(58548)">
        <i class="ti-user"> </i> Daniel</span
      >
    </div>
  </div>

  <div class="max-w-screen-lg md:col-span-3 mx-4 mt-8">
    <div>
      <div
        [formGroup]="directorForm"
        class="bg-white rounded shadow-lg px-4 md:p-8 mb-6"
      >
        <div class="lg:col-span-2">
          <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-6">
            <div class="md:col-span-3">
              <label for="address_1">First Name</label>
              <div
                class="h-10 bg-gray-50 flex border border-gray-200 rounded items-center mt-1"
              >
                <input
                  formControlName="firstName"
                  [(ngModel)]="companyDirector"
                  id="firstName"
                  placeholder=""
                  class="px-2 appearance-none outline-none text-gray-800 w-full bg-transparent"
                />
              </div>
            </div>

            <div class="md:col-span-3">
              <label for="address_1">Last Name</label>
              <div
                class="h-10 bg-gray-50 flex border border-gray-200 rounded items-center mt-1"
              >
                <input
                  formControlName="lastName"
                  [(ngModel)]="companyDirector"
                  id="lastName"
                  placeholder=""
                  class="px-2 appearance-none outline-none text-gray-800 w-full bg-transparent"
                />
              </div>
            </div>

            <div class="md:col-span-3">
              <label for="state">Nationality</label>
              <div
                class="h-10 bg-gray-50 flex border border-gray-200 rounded items-center mt-1"
              >
                <input
                  formControlName="nationality"
                  [(ngModel)]="companyDirector"
                  id="nationality"
                  placeholder=""
                  class="px-2 appearance-none outline-none text-gray-800 w-full bg-transparent"
                />
              </div>
            </div>

            <div class="md:col-span-3">
              <label for="address_1">Phone Number</label>
              <div
                class="h-10 bg-gray-50 flex border border-gray-200 rounded items-center mt-1"
              >
                <input
                  formControlName="telephone"
                  [(ngModel)]="companyDirector"
                  id="telephone"
                  placeholder=""
                  class="px-2 appearance-none outline-none text-gray-800 w-full bg-transparent"
                />
              </div>
            </div>

            <div class="md:col-span-3">
              <label for="state">Address 1</label>
              <div
                class="h-10 bg-gray-50 flex border border-gray-200 rounded items-center mt-1"
              >
                <input
                  formControlName="address_1"
                  [(ngModel)]="companyDirector"
                  id="address_1"
                  placeholder=""
                  class="px-2 appearance-none outline-none text-gray-800 w-full bg-transparent"
                />
              </div>
            </div>
            <div class="md:col-span-3">
              <label for="address_2">Address 2</label>
              <div
                class="h-10 bg-gray-50 flex border border-gray-200 rounded items-center mt-1"
              >
                <input
                  formControlName="address_2"
                  [(ngModel)]="companyDirector"
                  id="address_2"
                  placeholder=""
                  class="px-2 appearance-none outline-none text-gray-800 w-full bg-transparent"
                />
              </div>
            </div>
            <div class="md:col-span-2">
              <label for="city">Address Type</label>
              <div
                class="h-10 bg-gray-50 flex border border-gray-200 rounded items-center mt-1"
              >
                <input
                  type="text"
                  formControlName="type"
                  [(ngModel)]="companyDirector"
                  id="type"
                  class="px-2 appearance-none outline-none text-gray-800 w-full bg-transparent"
                  placeholder=""
                />
              </div>
            </div>
            <div class="md:col-span-2">
              <label for="city">Postal Code</label>
              <div
                class="h-10 bg-gray-50 flex border border-gray-200 rounded items-center mt-1"
              >
                <input
                  type="text"
                  formControlName="postal_code"
                  [(ngModel)]="companyDirector"
                  id="postal_code"
                  class="px-2 appearance-none outline-none text-gray-800 w-full bg-transparent"
                  placeholder=""
                />
              </div>
            </div>
            <div class="md:col-span-2">
              <label for="address">City</label>
              <div
                class="h-10 bg-gray-50 flex border border-gray-200 rounded items-center mt-1"
              >
                <input
                  type="text"
                  formControlName="city"
                  id="city"
                  [(ngModel)]="companyDirector"
                  class="px-2 appearance-none outline-none text-gray-800 w-full bg-transparent"
                  placeholder=""
                />
              </div>
            </div>

            <div class="md:col-span-3">
              <label for="country">Country</label>
              <div
                class="h-10 bg-gray-50 flex border border-gray-200 rounded items-center mt-1"
              >
                <select
                  formControlName="countryName"
                  [(ngModel)]="companyDirector"
                  (change)="getId(companyDirector)"
                  id="countryName"
                  placeholder=""
                  class="px-1 appearance-none outline-none text-gray-800 w-full bg-transparent"
                >
                  <option></option>
                </select>
              </div>
            </div>

            <div class="md:col-span-3">
              <label for="state">State</label>
              <div
                class="h-10 bg-gray-50 flex border border-gray-200 rounded items-center mt-1"
              >
                <select
                  formControlName="stateName"
                  id="stateName"
                  placeholder=""
                  class="px-4 appearance-none outline-none text-gray-800 w-full bg-transparent"
                >
                  <option></option>
                </select>
              </div>
            </div>

            <div class="md:col-span-6 text-right">
              <div class="inline-flex items-end">
                <button
                  (click)="save()"
                  class="bg-blue-800 hover:bg-blue-900 text-white mr-2 font-bold py-2 px-4 rounded"
                >
                  Update Director
                </button>
              </div>
              <div class="inline-flex items-end">
                <button
                  (click)="save()"
                  class="bg-green-800 hover:bg-green-900 text-white font-bold py-2 px-4 rounded"
                >
                  Register Director
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br /><br /><br /><br />
