<div class="pt-4">
  <h2 class="page-title bg-yellow-500 text-yellow-800 mx-3">MY APPROVALS</h2>
  <div>
    <!-- <mat-tab-group> -->
    <!-- <mat-tab *ngFor="let cat of categories" [label]="cat.name"> -->
    <div class="table-group">
      <div class="table-wrapper">
        <generic-table
          [table_title]="tableTitles.approvals"
          [title-color]="'yellow'"
          [table_keysMappedToHeaders]="applicationKeysMappedToHeaders"
          [table_content]="approvals"
          [EnableViewClearanceControl]="
            currentUser.operationFacility === OperatingFacility.ProcessingPlant
              ? false
              : true
          "
          [EnableViewCoQCertsControl]="true"
          [EnableViewDebitNotesControl]="true"
          [noAddOrDeleteButton]="true"
          [noCheckControls]="true"
          [noEditControl]="true"
          [noTitle]="true"
          (onViewData)="onViewData($event)"
          (onViewCoQCerts)="viewCoQCerts($event)"
          (onViewDebitNotes)="viewDebitNotes($event)"
        >
        </generic-table>
      </div>
    </div>
    <!-- </mat-tab> -->
    <!-- </mat-tab-group> -->
  </div>
</div>
