<form [formGroup]="form">
  <div class="col-span-2 flex justify-center items-center my-6">
    <div
      class="bg-slate-400/60 flex flex-col justify-center p-2 px-3 rounded-md"
    >
      <h5 class="text-sm">
        CONDENSATE DYNAMIC DATA ENTRY (INITIAL MEASUREMENTS)
      </h5>
    </div>
  </div>

  <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-9">
    <div class="md:col-span-3 form-group">
      <label for="coq-condensate-product-mReadingBbl"
        >READING(m) <sup class="text-red-700">*</sup></label
      >
      <input
        type="number"
        name="mReadingBbl"
        formControlName="mReadingBbl"
        id="coq-condensate-product-mReadingBbl"
        class="form-field form-control"
        [ngClass]="{
          'is-invalid':
            form?.controls['mReadingBbl'].touched &&
            form?.controls['mReadingBbl'].invalid
        }"
      />
    </div>
    <div class="md:col-span-3">
      <label for="coq-condensate-product-temperature"
        >TEMPERATURE (<sup class="text-red-700">o</sup>C)
        <sup class="text-red-700">*</sup></label
      >
      <input
        type="number"
        name="temperature"
        formControlName="temperature"
        id="coq-condensate-product-temperature"
        class="form-field form-control"
        [ngClass]="{
          'is-invalid':
            form?.controls['temperature'].touched &&
            form?.controls['temperature'].invalid
        }"
      />
    </div>
    <div class="md:col-span-3">
      <label for="coq-condensate-product-pressure"
        >PRESSURE <sup class="text-red-700">*</sup></label
      >
      <input
        type="number"
        name="pressure"
        formControlName="pressure"
        id="coq-condensate-product-pressure"
        class="form-field form-control"
        [ngClass]="{
          'is-invalid':
            form?.controls['pressure'].touched &&
            form?.controls['pressure'].invalid
        }"
      />
    </div>

    <div class="md:col-span-3">
      <label for="coq-condensateproduct-meterFactor"
        >METER FACTOR<sup class="text-red-700">*</sup></label
      >
      <input
        type="number"
        name="meterFactor"
        formControlName="meterFactor"
        id="coq-condensateproduct-meterFactor"
        class="form-field form-control"
        [ngClass]="{
          'is-invalid':
            form?.controls['meterFactor'].touched &&
            form?.controls['meterFactor'].invalid
        }"
      />
    </div>
    <div class="md:col-span-3">
      <label for="coq-condensate-product-ctl"
        >CTL <sup class="text-red-700">*</sup></label
      >
      <input
        type="number"
        formControlName="ctl"
        id="coq-condensate-product-ctl"
        class="form-field form-control"
        [ngClass]="{
          'is-invalid':
            form?.controls['ctl'].touched && form?.controls['ctl'].invalid
        }"
      />
    </div>
    <div class="md:col-span-3">
      <label for="coq-condensate-product-cpl"
        >CPL <sup class="text-red-700">*</sup></label
      >
      <input
        type="number"
        name="cpl"
        formControlName="cpl"
        id="coq-condensate-product-cpl"
        class="form-field form-control"
        [ngClass]="{
          'is-invalid':
            form?.controls['cpl'].touched && form?.controls['cpl'].invalid
        }"
      />
    </div>

    <div class="md:col-span-3">
      <label for="coq-condensate-product-apiAt60"
        >API. AT 60/60 <sup>o</sup>F <sup class="text-red-700">*</sup></label
      >
      <input
        type="number"
        name="apiAt60"
        formControlName="apiAt60"
        id="coq-condensate-product-apiAt60"
        class="form-field form-control"
        [ngClass]="{
          'is-invalid':
            form?.controls['apiAt60'].touched &&
            form?.controls['apiAt60'].invalid
        }"
      />
    </div>

    <div class="md:col-span-3">
      <label for="coq-condensate-product-vcf"
        >VCF <sup class="text-red-700">*</sup></label
      >
      <input
        type="number"
        name="vcf"
        formControlName="vcf"
        id="coq-condensate-product-vcf"
        class="form-field form-control"
        [ngClass]="{
          'is-invalid':
            form?.controls['vcf'].touched && form?.controls['vcf'].invalid
        }"
      />
    </div>

    <div class="md:col-span-3">
      <label for="coq-condensateproduct-bsw"
        >BS&W (%)<sup class="text-red-700">*</sup></label
      >
      <input
        type="number"
        name="bsw"
        formControlName="bsw"
        id="coq-condensateproduct-bsw"
        class="form-field form-control"
        [ngClass]="{
          'is-invalid':
            form?.controls['bsw'].touched && form?.controls['bsw'].invalid
        }"
      />
    </div>

    <div class="md:col-span-3">
      <label for="coq-condensate-product-grossLtBblFactor"
        >GROSS LT/BBL FACTOR <sup class="text-red-700">*</sup></label
      >
      <input
        type="number"
        name="grossLtBblFactor"
        formControlName="grossLtBblFactor"
        id="coq-condensate-product-grossLtBblFactor"
        class="form-field form-control"
        [ngClass]="{
          'is-invalid':
            form?.controls['grossLtBblFactor'].touched &&
            form?.controls['grossLtBblFactor'].invalid
        }"
      />
    </div>
  </div>
</form>
