<div
  class="side-nav"
  [ngClass]="{
    'collapse-sidenav': isCollapsed,
    'uncollapse-sidenav': !isCollapsed
  }"
>
  <div
    [ngClass]="{
      'flex flex-col gap-3': currentUser.directorate === Directorate.HPPITI
    }"
    class="logo-title justify-center"
  >
    <img src="../../../assets/img/brand/logo.png" alt="NMDPRA" />
    <h4 *ngIf="!isCollapsed" class="text-black font-bold" style="font-size: larger;">
      {{
        currentUser.directorate === Directorate.HPPITI
          ? "PROCESSING PLANT"
          : "CVC"
      }}
    </h4>
  </div>

  <div class="nav-items">
    <app-nav-item
      *ngFor="let menu of menuItems"
      [is-sidebar-collapsed]="isCollapsed"
      [title]="menu.title"
      [sub-items]="menu.subRoutes"
      [icon-name_svg]="menu.iconName"
      [icon-id_svg]="menu.iconId"
      [icon-color]="menu.iconColor"
      [active]="menu.active"
      [sub-menu-active]="menu.subMenuActive"
      (onActive)="setActiveNavItem(menu.title)"
    ></app-nav-item>
  </div>
  <br />
  <br />
</div>
