/** Side nav css */
.side-nav {
  border-color: transparent !important;
  @apply fixed top-0 left-0 z-50 bg-slate-100 pt-9 h-full pr-0 overflow-y-auto 
    w-[240px] max-w-[240px] md:w-[300px] md:max-w-[300px];
}

@media screen and (max-width: 600px) {
  .side-nav {
    display: none;
  }
}

.logo-title {
  @apply flex justify-center items-center;
}

.logo-title h3 {
  @apply pt-3 text-3xl text-slate-50;
}

.logo-title img {
  @apply w-24 md:w-32;
}

.nav-items {
  @apply ml-4 mt-12 overflow-hidden;
}

.nav-items:hover + .dashboard {
  @apply w-full sm:w-side_nav;
}

// remove from here
.nav-item {
  @apply relative z-10 mt-10 py-4 pl-14 flex items-center font-bold text-slate-50 fill-slate-50 
    hover:cursor-pointer hover:bg-yellow-100 hover:text-black transition ease-in-out duration-500;
}

.nav-item-control {
  @apply flex gap-5;
}

.nav-item-active {
  width: 300px;
  @apply bg-slate-50 rounded-tl-full rounded-bl-full text-black fill-black;
}

// to here

/** Side nav css end here */

/** Toggle side nav css */
.collapse-sidenav {
  width: 100px;
  overflow-y: hidden;
  @apply transition-all ease-in-out delay-150 duration-500 overflow-x-hidden;

  & > .logo-title {
    & > img {
      @apply w-32 mt-0 transition-all ease-in-out delay-150 duration-500;
    }

    & > h2 {
      @apply invisible opacity-0 transition-all ease-in-out delay-150 duration-500;
    }
  }

  & > .nav-items {
    @apply ml-3  transition-all ease-in-out delay-150 duration-500;
  }

  & > .nav-items .nav-item {
    @apply pl-7  transition-all ease-in-out delay-150 duration-500;
  }

  & > .nav-items .nav-item-control span {
    @apply invisible opacity-0 transition-all ease-in-out delay-150 duration-500;
  }
}

.uncollapse-sidenav {
  @apply sm:w-side_nav transition-all ease-in-out delay-150 duration-500;

  & > .logo-title {
    & > img {
      @apply mt-0 transition-all ease-in-out delay-75 duration-300;
    }

    & > h2 {
      @apply visible opacity-100 transition-all ease-in-out delay-700 duration-500;
    }
  }

  & > .nav-items {
    @apply transition-all ease-in-out delay-150 duration-500;
  }

  & > .nav-items .nav-item {
    @apply transition-all ease-in-out delay-150 duration-500;
  }

  & > .nav-items .nav-item-control span {
    @apply visible opacity-100 transition-all ease-in-out delay-700 duration-500;
  }
}
