<div
  class="side-nav"
  [ngClass]="{
    'collapse-sidenav': isCollapsed,
    'uncollapse-sidenav': !isCollapsed
  }"
>
  <div
    [ngClass]="{ 'flex flex-col': directorate === Directorate.HPPITI }"
    class="logo-title justify-center"
  >
    <img src="../../../assets/img/brand/logo.png" alt="NUPRC" />
    <h3
      *ngIf="!isCollapsed && directorate === Directorate.DSSRI"
      class="text-black font-bold"
    >
      CVC
    </h3>
    <h4
      *ngIf="!isCollapsed && directorate === Directorate.HPPITI"
      class="text-black font-bold"
    >
      PROCESSING PLANT
    </h4>
    <h4
      *ngIf="
        !isCollapsed &&
        directorate !== Directorate.HPPITI && directorate !== Directorate.DSSRI
      "
      class="text-black font-bold"
    >
      PROCESSING PLANT
    </h4>
  </div>

  <div class="nav-items">
    <app-nav-item
      *ngFor="let menu of menuItems"
      [is-sidebar-collapsed]="isCollapsed"
      [title]="menu.title"
      [sub-items]="menu.subRoutes"
      [icon-name_svg]="menu.iconName"
      [icon-id_svg]="menu.iconId"
      [icon-color]="menu.iconColor"
      [active]="menu.active"
      [sub-menu-active]="menu.subMenuActive"
      (onActive)="setActiveNavItem(menu.title)"
    ></app-nav-item>
  </div>
  <br />
  <br />
</div>
