<h1 mat-dialog-title>
  {{ this.data.data.action === "EDIT" ? "Edit Product" : "Add New Product" }}
</h1>
<div mat-dialog-content class="min-w-[500px]">
  <form [formGroup]="form">
    <div class="fomr-group" style="margin-bottom: 10px">
      <label>Name</label>
      <input
        name="name"
        type="text"
        formControlName="name"
        class="form-control"
      />
      <div
        *ngIf="(f['name'].touched || isSubmitted) && f['name']?.invalid"
        class="alert alert-danger"
      >
        Name is required!
      </div>
    </div>
    <div class="form-group" style="margin-bottom: 10px">
      <label>Product Type</label>
      <select formControlName="productType" class="form-control">
        <option selected disabled>--Select from options --</option>
        <option
          *ngFor="let productType of productTypes"
          [ngValue]="productType"
        >
          {{ productType }}
        </option>
      </select>
      <div
        *ngIf="
          (f['productType'].touched || isSubmitted) && f['productType']?.invalid
        "
        class="alert alert-danger"
      >
        Application Type is required!
      </div>
    </div>

    <div mat-dialog-actions>
      <button mat-button mat-dialog-close (click)="onClose()">Close</button>
      <button
        mat-raised-button
        (click)="
          this.data.data.action === 'EDIT' ? EditProduct() : createProduct()
        "
        [disabled]="form.invalid"
      >
        Save
      </button>
    </div>
  </form>
</div>
