<h1 mat-dialog-title>
  {{ this.data.data.action === "EDIT" ? "Edit " : "Add New " }} Product
</h1>
<div mat-dialog-content class="min-w-[500px]">
  <form [formGroup]="form">
    <div class="fomr-group" style="margin-bottom: 10px">
      <label>Name</label>
      <input
        name="name"
        type="text"
        formControlName="name"
        class="form-control"
      />
      <div
        *ngIf="(f['name'].touched || isSubmitted) && f['name']?.invalid"
        class="alert alert-danger"
      >
        Name is required!
      </div>
    </div>
    <div class="form-group" style="margin-bottom: 10px">
      <label>Product Type</label>
      <select formControlName="productType" class="form-control">
        <option selected disabled value="">--Select from options --</option>
        <option
          *ngFor="let productType of productTypes"
          [ngValue]="productType"
        >
          {{ productType }}
        </option>
      </select>
      <div
        *ngIf="
          (f['productType'].touched || isSubmitted) && f['productType']?.invalid
        "
        class="alert alert-danger"
      >
        Application Type is required!
      </div>
    </div>

    <div class="fomr-group" style="margin-bottom: 10px">
      <label>Revenue Code</label>
      <input
        name="revenueCode"
        type="text"
        formControlName="revenueCode"
        class="form-control"
      />
      <div
        *ngIf="(f['revenueCode'].touched || isSubmitted) 
          && f['revenueCode']?.invalid"
        class="alert alert-danger"
      >
        Revenue Code is required!
      </div>
    </div>

    <div class="fomr-group" style="margin-bottom: 10px">
      <label>Revenue Code Description</label>
      <textarea
        name="revenueCodeDescription"
        type="text"
        formControlName="revenueCodeDescription"
        class="form-control"
        cols="10"
        rows="10"
      ></textarea>
      <div
        *ngIf="(f['revenueCodeDescription'].touched || isSubmitted) 
          && f['revenueCodeDescription']?.invalid"
        class="alert alert-danger"
      >
        Revenue Code Description is required!
      </div>
    </div>

    <div mat-dialog-actions>
      <button mat-button mat-dialog-close>Close</button>
      <div class="">
        <button
          mat-raised-button
          (click)="
            this.data.data.action === 'EDIT' ? editProduct() : createProduct()
          "
          [disabled]="form.invalid"
          *ngIf="!isLoading"
        >
          Save
        </button>
        <a
          *ngIf="isLoading"
          class="!flex !justify-center !items-center"
          mat-mini-fab
          color="disabled"
        >
          <mat-spinner class="" diameter="35" strokeWidth="7"></mat-spinner>
        </a>
      </div>
    </div>
  </form>
</div>
