.form-wrapper {
  @apply flex items-center justify-center gap-4
    w-[95%] sm:w-[400px] md:w-[500px] lg:w-[500px];
}

.form-wrapper h3 {
  font-size: large;
}

.apply-container {
  @apply w-full flex flex-col justify-center items-center p-[2rem];
}

.apply-wrapper {
  @apply w-full flex flex-col justify-center items-center py-12;
}

.apply-wrapper h1 {
  font-size: larger;
  text-align: center;
  font-weight: bolder;
}

.input-label {
  @apply text-left my-2 font-medium text-slate-600;
}

.progress-bar-container {
  position: relative;
}

.progress-bar-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    16,
    13,
    13,
    0.9
  ); /* Adjust the alpha value for the desired transparency */
  z-index: 2; /* Ensure the backdrop is behind the progress bar */
}

.form {
  @apply border border-gray-400 p-5 flex flex-col gap-10 
    justify-center text-center rounded-t-lg shadow-md 
    hover:bg-slate-100 w-full;
}

.preview-wrapper {
  @apply flex-col gap-4 p-2 justify-center w-full;
}

.preview-table-wrapper {
  @apply overflow-x-auto p-2 bg-white;
}

.form h3 {
  @apply bg-slate-200 p-3;
}

.form:not(.second-segment) button {
  @apply bg-blue-200 p-2 border;
}

.data-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.data-table td,
.data-table th {
  border: 1px solid #aae3d6;
  padding: 8px;
}

.data-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.data-table tr:hover {
  background-color: #aae3d6;
}

.data-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #2d748a;
  color: white;
}

.green-icon {
  color: green;
}

.red-icon {
  color: red;
}

button {
  @apply mt-5 mx-3;
}

.licences {
  @apply relative border border-gray-400 py-4 px-3 my-4;
}

.licenses h5 {
  background: rgb(75, 4, 91);
  background: linear-gradient(
    90deg,
    rgba(75, 4, 91, 1) 0%,
    rgba(212, 3, 193, 1) 100%
  );
  width: fit-content;
  font-size: small;
  color: white;
  @apply relative -mt-7 px-3 py-1;
}

.vessel-list {
  @apply overflow-x-auto px-3 pt-3 pb-1 bg-white;
}

.hide {
  display: none;
}
