$primary: #aaefdf;
$primary-dark: #6aad9e;
$text-dark: #035024;
$nav-height: 70px;
$logo-height: 60px;

#company-top-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  min-height: $nav-height;
  flex: 0.2;
  @apply flex justify-between items-center flex-wrap bg-white shadow-md px-4;
}

.brand-logo {
  @apply flex items-center;

  img {
    height: $logo-height;
  }

  span {
    @apply text-2xl font-bold -ml-2;
  }
}

.nav-wrapper {
  @apply flex flex-nowrap;
}

.nav-list {
  @apply flex font-semibold gap-3 text-sm -mb-[14px] flex-nowrap;
}

::ng-deep .mat-menu-content {
  @apply w-[270px] overflow-hidden flex flex-col items-center justify-center text-[20px] font-medium pb-4;
}

::ng-deep .mat-menu-item {
  @apply text-[20px] font-medium;
}

.menu-item-content {
  @apply flex items-center justify-start gap-3;
}

.menu {
  @apply text-[#2D8A75] text-[32px];
}

@media screen and (max-width: 840px) {
  .nav-list {
    display: none;
  }
  #company-navmenu-trigger {
    display: block;
  }
}

@media screen and (min-width: 841px) {
  #company-navmenu-trigger {
    display: none;
  }
}

.user,
.logout {
  transition: all 0.3s ease-in-out;
  @apply flex items-center gap-2 px-3 py-[7px] rounded-t-lg cursor-pointer text-red-400 hover:bg-red-400;
}

.logout:hover {
  @apply bg-red-400 text-white;
}

.user-group {
  @apply flex gap-2;
}
