.container {
  @apply bg-slate-100 w-full;
}

.application-details {
  @apply flex flex-col items-center justify-center;
}

.application-details h1 {
  @apply text-blue-600 my-8;
}

hr {
  @apply mt-1;
}

.info-sections-wrapper {
  @apply p-4 border-2 rounded-lg;
}

.info-sections-wrapper h2 {
  color: #ffebcd;
  @apply bg-[#85A7D6] text-center p-3 rounded;
}

.info-section {
  @apply flex flex-col my-6 p-4;
}

.info-section h3 {
  @apply font-bold mb-4 text-slate-500;
}

.info-wrapper {
  @apply flex flex-wrap justify-start gap-x-3 gap-y-6;
}

.info-wrapper > div {
  @apply w-[32%] flex flex-col;
}

.info-wrapper > div > h5 {
  @apply bg-[#3e4e50] rounded-md text-center p-2 text-white tracking-wider;
}

.info-wrapper > h4 {
  @apply font-medium tracking-wide;
}

.info-wrapper div > span, .empty {
  word-wrap: break-word;
  @apply block text-center text-lg lg:text-xl bg-[#fff] rounded-sm p-4 font-medium;
}

.tank-info-wrapper {
  @apply flex flex-col;
}

.tank-info-wrapper h4 {
  @apply text-slate-400;
}

.application-controls {
  @apply w-full md:w-[72%] flex flex-col flex-1 gap-4 mt-10 mb-14;
}

.card-list {
  @apply border-2 border-slate-200 px-3 py-4 rounded-md w-full my-3;
}

.card-item {
  @apply bg-slate-500  min-h-[20px] pr-1 flex flex-row m-1 gap-2 w-full rounded-lg;
}

.item-title {
  @apply text-sm px-3 py-2 flex justify-center items-center text-white w-32;
}

.item-title img {
  @apply w-8;
}

.item-content {
  @apply px-3 py-2 text-sm bg-slate-100 w-full;
}

.show-more {
  @apply bg-slate-400 text-xs text-white px-3 py-1 w-24 cursor-pointer mx-auto mt-2;
}

.mat-expansion-panel {
  min-width: 50%;
}