<form [formGroup]="form">
  <div class="col-span-2 flex justify-center items-center my-6">
    <div
      class="bg-slate-400/60 flex flex-col justify-center p-2 px-3 rounded-md"
    >
      <h5 class="text-sm">
        CONDENSATE DYNAMIC DATA ENTRY (FINAL MEASUREMENTS)
      </h5>
    </div>
  </div>

  <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-9">
    <div class="md:col-span-3 form-group">
      <label for="coq-condensate-product-mReadingBbl"
        >READING(m) <sup class="text-red-700">*</sup></label
      >
      <input
        type="number"
        name="mReadingBbl"
        formControlName="mReadingBbl"
        id="coq-condensate-product-mReadingBbl"
        class="form-field form-control"
        [ngClass]="{
          'is-invalid':
            form?.controls['mReadingBbl'].touched &&
            form?.controls['mReadingBbl'].invalid
        }"
      />
    </div>
  </div>
</form>
