<div>
  <div class="form-details-container">
    <!-- Liquid Gas Form-->
    <div class="form-wrapper">
      <h1 class="px-2">Certificate of Quantity Application Form</h1>
      <div class="p-4 w-[90%]">
        <div class="grid grid-cols-1 md:grid-cols-4 w-full">
          <h5 class="text-slate-400 col-span-1">{{ isLiquidProduct ? 'FORM THREE' : '' }}</h5>
          <h5 class="text-slate-600 col-span-3 text-right">
            {{ isLiquidProduct ? 'SHORE-TANK ULLAGE AFTER VESSEL DISCHARGE' : isLiquidProduct === null ? '' : 'LPG WEIGHT CERTIFICATION'}}
          </h5>
        </div>

        <ng-container *ngIf="noaApplication">
          <hr />
          <div class="grid grid-cols-1 md:grid-cols-9 w-full gap-2">
            <div class="col-span-3">
              <p>
                <span class="form-header-info">MARKETER/PDT OWNER</span>: {{ noaApplication?.marketerName }}
              </p>
              <p *ngIf="isLiquidProduct">
                <span class="form-header-info">MOTHER VESSEL: {{ noaApplication?.motherVessel }}</span>     
              </p>
            </div>
            <div class="col-span-3">
              <p *ngIf="isLiquidProduct">
                <span class="form-header-info">PRODUCT</span>:
                {{ noaApplication?.productName }}
              </p>
              <p>
                <span class="form-header-info">JETTY</span>:
                {{ noaApplication?.jetty }}
              </p>
            </div>
            <div class="col-span-3">
              <p>
                <span class="form-header-info">VESSEL NAME</span>:
                {{ noaApplication?.vesselName }}
              </p>
              <p>
                <span class="form-header-info">RECEIVING TERMINAL</span>:
                {{ noaApplication?.recievingTerminal }}
              </p>
            </div>
          </div>
        </ng-container>
      </div>
      <hr class="w-full" />
      <hr class="w-full" />

      <mat-stepper *ngIf="isLiquidProduct !== null" class="pl-3 pr-2" orientation="vertical" linear #stepper>
        <mat-step [stepControl]="depotSelection" label="Select Depot">
          <mat-form-field appearance="fill" style="min-width: fit-content">
            <mat-label>Select Depot</mat-label>
            <mat-select
              name="depot"
              [formControl]="depotSelection"
            >
              <mat-option *ngFor="let depot of depots" [value]="depot.id">
                {{ depot.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div>
            <button 
              mat-raised-button 
              matStepperNext 
              (click)="depotSelection.markAllAsTouched()"
              [disabled]="!depotSelection.valid"
            >Next</button>
          </div>
        </mat-step>

        <mat-step [stepControl]="isLiquidProduct ? tankLiqInfoForm : tankGasInfoForm" label="Tank(s) BEFORE & AFTER Data Entry">
          <mat-stepper #tankInfoStepper linear>
            <mat-step [stepControl]="configuredTank" label="Enter tank name">
              <mat-form-field>
                <mat-label>Tank Name</mat-label>
                <mat-select
                  name="depot"
                  [formControl]="configuredTank"
                >
                  <mat-option *ngFor="let depot of depots" [value]="depot.id">
                    {{ depot.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-error *ngIf="!configuredTank?.valid" class="mb-2 mt-0">
                {{ !!configuredTank?.errors['duplicate'] ? 'Tank name already exists' : 'Tank name is required'}}
              </mat-error>
              <div>
                <button mat-raised-button matStepperNext color="primary" [disabled]="!configuredTank?.valid">Continue</button>
              </div>
            </mat-step>
            <mat-step [stepControl]="tankBeforeFormTemplateCtx.formGroup" label="Enter BEFORE data">
              <ng-container *ngTemplateOutlet="tankLiqForm; context: tankBeforeFormTemplateCtx"></ng-container>
              <div class="mt-4">
                <button 
                  mat-raised-button 
                  matStepperNext 
                  color="primary"
                  [disabled]="tankBeforeFormTemplateCtx.formGroup.invalid"
                >Continue</button>
              </div>
            </mat-step>
            <mat-step [stepControl]="tankAfterFormTemplateCtx.formGroup" label="Enter AFTER data">
              <ng-container *ngTemplateOutlet="tankLiqForm; context: tankAfterFormTemplateCtx"></ng-container>
              <div class="mt-4">
                <button
                  mat-raised-button 
                  matStepperNext 
                  color="primary" 
                  (click)="saveToReview()" 
                  [disabled]="tankAfterFormTemplateCtx.formGroup.invalid"
                >Save</button>
              </div>
            </mat-step>
          </mat-stepper>
          
          <!-- Tank Form for Liquid Product to be duplicated for before and after -->
          <ng-template #tankLiqForm let-form="formGroup">
            <form [formGroup]="form">
              <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-9">
                <div class="md:col-span-3 form-group">
                  <label for="coq-liquid-product-dip">DIP(m) <sup class="text-red-700">*</sup></label>
                  <input
                    type="number"
                    name="dip"
                    formControlName="dip"
                    id="coq-liquid-product-dip"
                    class="form-field form-control"
                    [ngClass]="{'is-invalid': form?.controls['dip'].touched && form?.controls['dip'].invalid}"
                  />
                </div>
                <div class="md:col-span-3">
                  <label for="coq-liquid-product-waterdip">WATER DIP <sup class="text-red-700">*</sup></label>
                  <input
                    type="number"
                    name="waterDIP"
                    formControlName="waterDIP"
                    id="coq-liquid-product-waterdip"
                    class="form-field form-control"
                    [ngClass]="{'is-invalid': form?.controls['waterDIP'].touched && form?.controls['waterDIP'].invalid}"
                  />
                </div>
                <div class="md:col-span-3">
                  <label for="coq-liquid-product-tov">TOV(m<sup>3</sup>) <sup class="text-red-700">*</sup></label>
                  <input
                    type="number"
                    name="tov"
                    formControlName="tov"
                    id="coq-liquid-product-tov"
                    class="form-field form-control"
                    [ngClass]="{'is-invalid': form?.controls['tov'].touched && form?.controls['tov'].invalid}"
                  />
                </div>
        
                <div class="md:col-span-3">
                  <label for="coq-liquidproduct-waterVoi">WATER VOI <sup class="text-red-700">*</sup></label>
                  <input
                    type="number"
                    name="waterVOI"
                    formControlName="waterVOI"
                    id="coq-liquidproduct-waterVoi"
                    class="form-field form-control"
                    [ngClass]="{'is-invalid': form?.controls['waterVOI'].touched && form?.controls['waterVOI'].invalid}"
                  />
                </div>
                <div class="md:col-span-3">
                  <label for="coq-liquid-product-corr">CORR(m<sup>3</sup>)</label>
                  <input
                    type="number"
                    name="corr"
                    formControlName="corr"
                    id="coq-liquid-product-corr"
                    class="form-field"
                  />
                </div>
                <div class="md:col-span-3">
                  <label for="coq-liquid-product-gov">GOV(m<sup>3</sup>) <sup class="text-red-700">*</sup></label>
                  <input
                    type="number"
                    formControlName="gov"
                    id="coq-liquid-product-gov"
                    class="form-field form-control"
                    [ngClass]="{'is-invalid': form?.controls['gov'].touched && form?.controls['gov'].invalid}"
                  />
                </div>
                <div class="md:col-span-3">
                  <label for="coq-liquid-product-temp">TEMP(<sup>0</sup>C) <sup class="text-red-700">*</sup></label>
                  <input
                    type="number"
                    name="temp"
                    formControlName="temp"
                    id="coq-liquid-product-temp"
                    class="form-field"
                    required
                  />
                </div>
        
                <div class="md:col-span-3">
                  <label for="coq-liquid-product-density">DENSITY <sup class="text-red-700">*</sup></label>
                  <input
                    type="number"
                    name="density"
                    formControlName="density"
                    id="coq-liquid-product-density"
                    class="form-field form-control"
                    [ngClass]="{'is-invalid': form?.controls['density'].touched && form?.controls['density'].invalid}"
                  />
                </div>
                <div class="md:col-span-3">
                  <label for="coq-liquid-product-vcf">VCF <sup class="text-red-700">*</sup></label>
                  <input
                    type="number"
                    name="vcf"
                    formControlName="vcf"
                    id="coq-liquid-product-vcf"
                    class="form-field"
                  />
                </div>
        
                <div class="md:col-span-3">
                  <label for="coq-liquid-product-gsv">GSV <sup class="text-red-700">*</sup></label>
                  <input
                    type="number"
                    name="gsv"
                    formControlName="gsv"
                    id="coq-liquid-product-gsv"
                    class="form-field form-control"
                    [ngClass]="{'is-invalid': form?.controls['gsv'].touched && form?.controls['gsv'].invalid}"
                  />
                </div>
                <div class="md:col-span-3">
                  <label for="coq-liquid-product-mtvac">MT(VAC) <sup class="text-red-700">*</sup></label>
                  <input
                    type="number"
                    name="mtVAC"
                    formControlName="mtVAC"
                    id="coq-liquid-product-mtvac"
                    class="form-field form-control"
                    [ngClass]="{'is-invalid': form?.controls['mtVAC'].touched && form?.controls['mtVAC'].invalid}"
                  />
                </div>
              </div>
            </form>
          </ng-template>

          <!-- Tank Form template for Gas Product duplicated for BEFORE and AFTER -->
          <ng-template #tankGasForm let-form="formGroup">
            <form [formGroup]="form">
              <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-9">
                <div class="md:col-span-3 form-group">
                  <label for="coq-liquid-product-dip">Liquid Density at 15<sup>0</sup>C(Kg/l), Vac <sup class="text-red-700">*</sup></label>
                  <input
                    type="number"
                    name="liqDensityVac"
                    formControlName="liqDensityVac"
                    id="coq-liquid-product-liqDensityVac"
                    class="form-field form-control"
                    [ngClass]="{'is-invalid': form?.controls['liqDensityVac'].touched && form?.controls['liqDensityVac'].invalid}"
                  />
                </div>
    
                <div class="md:col-span-3 form-group">
                  <label for="coq-liquid-product-dip">Observed Sounding (m) <sup class="text-red-700">*</sup></label>
                  <input
                    type="number"
                    name="obsSounding"
                    formControlName="obsSounding"
                    id="coq-liquid-product-obsSounding"
                    class="form-field form-control"
                    [ngClass]="{'is-invalid': form?.controls['obsSounding'].touched && form?.controls['obsSounding'].invalid}"
                  />
                </div>
              
                <div class="md:col-span-3 form-group">
                  <label for="coq-liquid-product-tapeCorr">Tape Correction (m) <sup class="text-red-700">*</sup></label>
                  <input
                    type="number"
                    name="tapeCorr"
                    formControlName="tapeCorr"
                    id="coq-liquid-product-tapeCorr"
                    class="form-field form-control"
                    [ngClass]="{'is-invalid': form?.controls['tapeCorr'].touched && form?.controls['tapeCorr'].invalid}"
                  />
                </div>
              
                <div class="md:col-span-3 form-group">
                  <label for="coq-liquid-product-liqTemp">Liquid Temperature (<sup>0</sup>C) <sup class="text-red-700">*</sup></label>
                  <input
                    type="number"
                    name="liqTemp"
                    formControlName="liqTemp"
                    id="coq-liquid-product-liqTemp"
                    class="form-field form-control"
                    [ngClass]="{'is-invalid': form?.controls['liqTemp'].touched && form?.controls['liqTemp'].invalid}"
                  />
                </div>

                <div class="md:col-span-3 form-group">
                  <label for="coq-liquid-product-observedLiqVol">Observed Liquid Volume (m<sup>3</sup>) <sup class="text-red-700">*</sup></label>
                  <input
                    type="number"
                    name="observedLiqVol"
                    formControlName="observedLiqVol"
                    id="coq-liquid-product-observedLiqVol"
                    class="form-field form-control"
                    [ngClass]="{'is-invalid': form?.controls['observedLiqVol'].touched && form?.controls['observedLiqVol'].invalid}"
                  />
                </div>

                <div class="md:col-span-3 form-group">
                  <label for="coq-liquid-product-shrinkageFactor">Shrinkage Factor <sup class="text-red-700">*</sup></label>
                  <input
                    type="number"
                    name="shrinkageFactor"
                    formControlName="shrinkageFactor"
                    id="coq-liquid-product-shrinkageFactor"
                    class="form-field form-control"
                    [ngClass]="{'is-invalid': form?.controls['shrinkageFactor'].touched && form?.controls['shrinkageFactor'].invalid}"
                  />
                </div>
              </div>
            </form>
          </ng-template>

          <ng-template #tankGasForm let-form="formGroup">
            <form [formGroup]="form">
            
            </form>
          </ng-template>
    
          <div class="mt-4 overflow-x-auto">
            <h4 class="text-slate-600 font-medium">Review & Proceed</h4>
            <hr />
            <div *ngIf="coqFormService?.liquidProductReviewData.length else noReview">
              <app-coq-form-review></app-coq-form-review>
            </div>
            
            <ng-template #noReview>
              <p class="text-slate-600 text-center">No Certificate of Quantity Data pending submission</p>
            </ng-template>
          </div>
        </mat-step>

        <mat-step [stepControl]="isLiquidProduct ? vesselLiqInfoForm : vesselGasInfoForm" label="Vessel Details Entry">
          <ng-container *ngIf="isLiquidProduct">
            <ng-container *ngTemplateOutlet="vesselLiqInfoFormTmp"></ng-container>
          </ng-container>
          <ng-container *ngIf="!isLiquidProduct">
            <ng-container *ngTemplateOutlet="vesselGasInfoFormTmp"></ng-container>
          </ng-container>
          <div>
            <button mat-button matStepperNext (click)="vesselLiqInfoForm.markAllAsTouched()">Next</button>
          </div>
        </mat-step>

        <ng-template #vesselLiqInfoFormTmp>
          <form [formGroup]="vesselLiqInfoForm" class="form">
            <div
              class="w-[90%] grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-9 mb-4"
            >
              <h5 class="form-section col-span-9">Vessel Information</h5>
              <div class="md:col-span-9 flex flex-col lg:flex-row gap-4 pr-2">
                <mat-form-field>
                  <mat-label>Date of Vessel Arrival</mat-label>
                  <div class="flex">
                    <input
                      matInput
                      name="dateOfVesselArrival"
                      formControlName="dateOfVesselArrival"
                      [matDatepicker]="arrivalDatePicker"
                    />
                    <mat-datepicker-toggle
                      matIconSuffix
                      [for]="arrivalDatePicker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #arrivalDatePicker></mat-datepicker>
                  </div>
                  <mat-error
                    *ngIf="
                      vesselLiqInfoForm.controls['dateOfVesselArrival'].hasError(
                        'matDatepickerMax'
                      )
                    "
                    >Date should be earlier</mat-error
                  >
                </mat-form-field>
    
                <mat-form-field>
                  <mat-label>Date of Vessel Ullage</mat-label>
                  <div class="flex">
                    <input
                      matInput
                      name="dateOfVesselUllage"
                      formControlName="dateOfVesselUllage"
                      [matDatepicker]="ullageDatePicker"
                    />
                    <mat-datepicker-toggle
                      matIconSuffix
                      [for]="ullageDatePicker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #ullageDatePicker></mat-datepicker>
                  </div>
                </mat-form-field>
    
                <mat-form-field>
                  <mat-label>Date of Shore-Tank After Discharge</mat-label>
                  <div class="flex">
                    <input
                      matInput
                      name="dateOfSTAfterDischarge"
                      formControlName="dateOfSTAfterDischarge"
                      [matDatepicker]="shoreTankDatePicker"
                    />
                    <mat-datepicker-toggle
                      matIconSuffix
                      [for]="shoreTankDatePicker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #shoreTankDatePicker></mat-datepicker>
                  </div>
                </mat-form-field>
              </div>
              <div class="md:col-span-3 form-group">
                <label for="coq-liquid-product-gov"
                  >GOV(litres) <sup class="text-red-700">*</sup></label
                >
                <input
                  type="number"
                  name="gov"
                  formControlName="gov"
                  id="coq-liquid-product-gov"
                  class="form-field form-control"
                  [ngClass]="{'is-invalid': vesselLiqInfoForm.controls['gov'].touched && vesselLiqInfoForm.controls['gov'].invalid}"
                />
              </div>
    
              <div class="md:col-span-3">
                <label for="coq-liquid-product-gsv"
                  >GSV(Litres) <sup class="text-red-700">*</sup></label
                >
                <input
                  type="number"
                  name="gsv"
                  formControlName="gsv"
                  id="coq-liquid-product-gsv"
                  class="form-field form-control"
                  [ngClass]="{'is-invalid': vesselLiqInfoForm.controls['gsv'].touched && vesselLiqInfoForm.controls['gsv'].invalid}"
                />
              </div>
              <div class="md:col-span-3">
                <label for="coq-liquid-product-mtvac"
                  >MT(VAC) <sup class="text-red-700">*</sup></label
                >
                <input
                  type="number"
                  name="mt_VAC"
                  formControlName="mt_VAC"
                  id="coq-liquid-product-mtvac"
                  class="form-field form-control"
                  [ngClass]="{'is-invalid': vesselLiqInfoForm.controls['mt_VAC'].touched && vesselLiqInfoForm.controls['mt_VAC'].invalid}"
                />
              </div>
              <div class="md:col-span-3">
                <label for="coq-liquid-product-mtvac"
                  >Expot-Depot Price<sup class="text-red-700">*</sup></label
                >
                <input
                  type="number"
                  name="depotPrice"
                  formControlName="depotPrice"
                  id="coq-liquid-product-ex-depot-price"
                  class="form-field form-control"
                  [ngClass]="{'is-invalid': vesselLiqInfoForm.controls['depotPrice'].touched && vesselLiqInfoForm.controls['depotPrice'].invalid}"
                />
              </div>
            </div>
          </form>
        </ng-template>

        <ng-template #vesselGasInfoFormTmp>
          <form [formGroup]="vesselGasInfoForm">
            <div
              class="w-[90%] grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-9 mb-4"
            >
              <h5 class="form-section col-span-9">Vessel Information</h5>
              <div class="md:col-span-9 flex flex-col lg:flex-row gap-4 pr-2">
                <mat-form-field>
                  <mat-label>Arrival Date</mat-label>
                  <div class="flex">
                    <input
                      matInput
                      name="dateOfVesselArrival"
                      formControlName="dateOfVesselArrival"
                      [matDatepicker]="arrivalDatePicker"
                    />
                    <mat-datepicker-toggle
                      matIconSuffix
                      [for]="arrivalDatePicker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #arrivalDatePicker></mat-datepicker>
                  </div>
                  <mat-error
                    *ngIf="
                      vesselLiqInfoForm.controls['arrivalDate'].hasError(
                        'matDatepickerMax'
                      )
                    "
                    >Date should be earlier</mat-error
                  >
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Shore Date</mat-label>
                  <div class="flex">
                    <input
                      matInput
                      name="shoreDate"
                      formControlName="shoreDate"
                      [matDatepicker]="shoreDatePicker"
                    />
                    <mat-datepicker-toggle
                      matIconSuffix
                      [for]="shoreDatePicker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #shoreDatePicker></mat-datepicker>
                  </div>
                  <mat-error
                    *ngIf="
                      vesselLiqInfoForm.controls['shoreDate'].hasError(
                        'matDatepickerMax'
                      )
                    "
                    >Date should be earlier</mat-error
                  >
                </mat-form-field>

                <div class="md:col-span-3 form-group">
                  <label for="coq-gas-product-gov"
                    >GOV <sup class="text-red-700">*</sup></label
                  >
                  <input
                    type="number"
                    name="gov"
                    formControlName="gov"
                    id="coq-gas-product-gov"
                    class="form-field form-control"
                    [ngClass]="{'is-invalid': vesselGasInfoForm.controls['gov'].touched && vesselGasInfoForm.controls['gov'].invalid}"
                  />
                </div>

                <div class="md:col-span-3 form-group">
                  <label for="coq-gas-product-gsv"
                    >GSV <sup class="text-red-700">*</sup></label
                  >
                  <input
                    type="number"
                    name="gsv"
                    formControlName="gsv"
                    id="coq-gas-product-gsv"
                    class="form-field form-control"
                    [ngClass]="{'is-invalid': vesselGasInfoForm.controls['gsv'].touched && vesselGasInfoForm.controls['gsv'].invalid}"
                  />
                </div>

                <div class="md:col-span-3 form-group">
                  <label for="coq-gas-product-mtonsVacQtyBefReceipt"
                    >M/TONS VAC (QTY. BEFORE RECEIPT) <sup class="text-red-700">*</sup></label
                  >
                  <input
                    type="number"
                    name="mtonsVacQtyBefReceipt"
                    formControlName="mtonsVacQtyBefReceipt"
                    id="coq-gas-product-mtonsVacQtyBefReceipt"
                    class="form-field form-control"
                    [ngClass]="{'is-invalid': vesselGasInfoForm.controls['mtonsVacQtyBefReceipt'].touched && vesselGasInfoForm.controls['mtonsVacQtyBefReceipt'].invalid}"
                  />
                </div>
                <div class="md:col-span-3 form-group">
                  <label for="coq-gas-product-mtonsVacQtyAftReceipt"
                    >M/TONS VAC (QTY. AFTER RECEIPT) <sup class="text-red-700">*</sup></label
                  >
                  <input
                    type="number"
                    name="mtonsVacQtyAftReceipt"
                    formControlName="mtonsVacQtyAftReceipt"
                    id="coq-gas-product-mtonsVacQtyAftReceipt"
                    class="form-field form-control"
                    [ngClass]="{'is-invalid': vesselGasInfoForm.controls['mtonsVacQtyAftReceipt'].touched && vesselGasInfoForm.controls['mtonsVacQtyAftReceipt'].invalid}"
                  />
                </div>
                <div class="md:col-span-3 form-group">
                  <label for="coq-gas-product-mtonsVacQtyReceived"
                    >M/TONS VAC (QTY. RECEIVED)</label
                  >
                  <input
                    type="number"
                    name="mtonsVacQtyReceived"
                    formControlName="mtonsVacQtyReceived"
                    id="coq-gas-product-mtonsVacQtyReceived"
                    class="form-field form-control"
                  />
                </div>
                
                <div class="md:col-span-3 form-group">
                  <label for="coq-gas-product-mtonsAirQtyBefReceipt"
                    >M/TONS AIR (QTY. BEFORE RECEIPT) <sup class="text-red-700">*</sup></label
                  >
                  <input
                    type="number"
                    name="mtonsAirQtyBefReceipt"
                    formControlName="mtonsAirQtyBefReceipt"
                    id="coq-gas-product-mtonsAirQtyBefReceipt"
                    class="form-field form-control"
                    [ngClass]="{'is-invalid': vesselGasInfoForm.controls['mtonsAirQtyBefReceipt'].touched && vesselGasInfoForm.controls['mtonsAirQtyBefReceipt'].invalid}"
                  />
                </div>

                <div class="md:col-span-3 form-group">
                  <label for="coq-gas-product-mtonsAirQtyAftReceipt"
                    >M/TONS AIR (QTY. AFTER RECEIPT) <sup class="text-red-700">*</sup></label
                  >
                  <input
                    type="number"
                    name="mtonsAirQtyAftReceipt"
                    formControlName="mtonsAirQtyAftReceipt"
                    id="coq-gas-product-mtonsAirQtyAftReceipt"
                    class="form-field form-control"
                    [ngClass]="{'is-invalid': vesselGasInfoForm.controls['mtonsAirQtyAftReceipt'].touched && vesselGasInfoForm.controls['mtonsAirQtyAftReceipt'].invalid}"
                  />
                </div>

                <div class="md:col-span-3 form-group">
                  <label for="coq-gas-product-mtonsAirQtyReceived"
                    >M/TONS AIR (QTY. RECEIVED)</label
                  >
                  <input
                    type="number"
                    name="mtonsAirQtyReceived"
                    formControlName="mtonsAirQtyReceived"
                    id="coq-gas-product-mtonsAirQtyReceived"
                    class="form-field form-control"
                  />
                </div>
              </div>
            </div>
          </form>
        </ng-template>

        <mat-step label="Document(s) Upload">
          <div class="w-[90%] mb-4 p-0">
            <div class="guidelines">
              <h4>Please Note</h4>
              <ul class="guidelines-list">
                <li>
                  All documents listed below are required and must be uploaded.
                  Subsequently, other documents may be needed and will be added to
                  this list.
                </li>
                <li>
                  The Maximum file size allowed is <strong>20MB</strong> per
                  document, any file size greater than this value will not be
                  uploaded.
                </li>
                <li>
                  Only <strong>JPEG</strong>, <strong>PNG</strong>,
                  <strong>JPG</strong>, and <strong>PDF</strong> file types are
                  allowed on this platform.
                </li>
              </ul>
            </div>
  
            <div id="coq_doc_upload_table_description" class="hidden">
              Document Upload Table
            </div>
  
            <div class="table-container mat-elevation-z8">
              <div class="table-title">REQUIRED DOCUMENTS</div>
              <h4 *ngIf="spinner.isOpen" class="text-center">Loading....</h4>
              <table
                *ngIf="!spinner.isOpen"
                mat-table
                [dataSource]="dataSource"
                aria-describedby="coq_doc_upload_table_description"
              >
                <ng-container
                  *ngFor="let column of displayedColumns"
                  [matColumnDef]="column"
                >
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    class="text-slate-700 text-[16px] text-left"
                  >
                    {{ column | uppercase }}
                  </th>
                  <td
                    mat-cell
                    *matCellDef="let element; let i = index"
                    class="text-left"
                  >
                    <ng-container *ngIf="column === 'document'">
                      <div class="flex justify-start align-middle">
                        <span class="truncate" [title]="element.docName"> {{ element?.docName }}</span>&nbsp;
                        <a
                          *ngIf="element?.docSource"
                          [href]="element.docSource"
                          target="_blank"
                          download
                          ><img
                            src="../../../assets/image/pdfIcon.png"
                            width="25"
                            height="25"
                        /></a>
                      </div>
                    </ng-container>
  
                    <ng-container *ngIf="column === 'action'">
                      <button
                        mat-button
                        class="upload-btn"
                        (click)="uploadDoc(i)"
                      >
                        Upload
                      </button>
                      <input
                        class="d-none file-input"
                        type="file"
                        accept=".png,.jpg,.jpeg,.pdf"
                        (change)="onFileSelected($event, i, element)"
                      />
                    </ng-container>
                    <ng-container *ngIf="column === 'progress'">
                      <div class="flex flex-col items-center justify-center">
                        <span
                          *ngIf="documents?.length > 0 && documents[i]?.fileName"
                          class="font-bold text-slate-500"
                          >{{
                            documents[i]?.fileName +
                              " (" +
                              documents[i]?.fileSizeInKb +
                              "Kb)"
                          }}</span
                        >
                        <mat-progress-bar
                          mode="determinate"
                          [value]="
                            documents?.length > 0
                              ? documents[i]?.percentProgress
                              : 0
                          "
                          [ngClass]="{
                            'in-progress':
                              documents?.length > 0 &&
                              documents[i]?.success === null,
                            'success':
                              documents?.length > 0 && documents[i]?.success,
                            'failed':
                              documents?.length > 0 && !documents[i]?.success
                          }"
                        >
                        </mat-progress-bar>
                      </div>
                    </ng-container>
                  </td>
                </ng-container>
  
                <tr
                  mat-header-row
                  *matHeaderRowDef="displayedColumns"
                  class="rounded-md shadow-lg"
                ></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              </table>
            </div>
  
            <div
              *ngIf="
                vesselLiqInfoForm.valid &&
                hasUploadedAllRequiredDocs &&
                !isSubmitted
              "
              class="md:col-span-9 text-right mt-8 flex gap-2"
            >
              <button

                type="submit"
                (click)="save()"
                class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded"
              >
                Save
              </button>
              <button
                *ngIf="coq"
                type="submit"
                (click)="submit()"
                class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded"
              >
                Submit
              </button>
            </div>
          </div>
  
          <ng-template #noRequiredDocsWarn>
            <div
              class="bg-yellow-100 w-[90%] border border-yellow-400 text-yellow-700 px-4 py-3 rounded relative"
              role="alert"
            >
              <strong class="font-bold"
                >No Required Documents Configured:&nbsp;&nbsp;</strong
              >
              <span class="block sm:inline"
                >You may not proceed with this application.</span
              >
            </div>
          </ng-template>
        </mat-step>
      </mat-stepper>
    </div>
  </div>
</div>
