/** Toggle side nav css ends here */
.nav-item {
  @apply relative z-10 mt-10 py-4 pl-7 flex items-center  font-bold text-slate-50 fill-slate-50 hover:cursor-pointer hover:bg-yellow-100 hover:text-black transition ease-in-out duration-500;
}

.nav-item-control {
  @apply flex gap-5;
}

.nav-item-active {
  width: 300px;
  @apply bg-slate-50  rounded-tl-full rounded-bl-full text-black fill-black;

  & .arrow {
    @apply absolute right-0 mr-8;
  }
}

.content {
  @apply mx-10 -mt-content_mt bg-white border h-full rounded-3xl p-6 shadow-md;
}

/**Toggle nav sub menu css */
.nav-sub-menu {
  @apply bg-yellow-100 text-black pt-6;
}

.nav-sub-menu p {
  @apply bg-yellow-200 m-3 p-3 shadow-lg hover:bg-yellow-300 transition-all ease-in-out delay-150 duration-300 hover:cursor-pointer;
}

a {
  text-decoration: none;
  color: black;
}

.nav-item .arrow-down,
.nav-sub-menu {
  max-height: 0px;
  transition: max-height 1.15s ease-in-out;
  margin-left: 0px;
  margin-top: -25px;
  overflow: hidden;
  @apply invisible opacity-0 transition-all ease-in-out delay-150 duration-500;
}

.arrow {
  @apply absolute right-0 mr-6;
}

.unCollapse-submenu {
  &.nav-item.nav-item-active {
    @apply bg-yellow-100 text-black transition-all ease-in-out delay-150 duration-500 visible shadow-lg;
  }

  & + .nav-sub-menu {
    @apply max-h-[500px] visible opacity-100 transition-all ease-in-out delay-150 duration-700;
  }
}

.collapse-submenu {
  & + .nav-sub-menu {
    @apply max-h-[0px] invisible opacity-0 transition-all ease-in-out delay-150 duration-700;
  }
}

.hide {
  @apply invisible opacity-0 transition-all ease-in-out delay-75 duration-100;
}

.show {
  @apply visible opacity-100 transition-all ease-in-out delay-500 duration-1000;
}
/**Toggle nav sub menu css ends here */

.active-sub-menu-item {
  background-color: rgb(161, 150, 29) !important;
  color: white;
  font-weight: bold !important;
}
