<table class="table">
  <tbody>
    <tr>
      <th>Reference Number</th>
      <td>{{ application?.reference }}</td>
    </tr>
    <tr>
      <th>Company Name</th>
      <td>{{ application?.companyName }}</td>
    </tr>
    <tr>
      <th>Company Email</th>
      <td>{{ application?.email }}</td>
    </tr>
    <tr>
      <th>Vessel Name</th>
      <td>{{ application?.vessel.name }}</td>
    </tr>
    <tr>
      <th>Vessel IMO Number</th>
      <td>{{ application?.vessel.imoNumber }}</td>
    </tr>
    <tr>
      <th>Application Type</th>
      <td>{{ application?.appType }}</td>
    </tr>
    
    <tr>
      <th>Application Status</th>
      <td>{{ application?.status }}</td>
    </tr>
    <tr>
      <th>Payment Status</th>
      <td>{{ application?.paymnetStatus }}</td>
    </tr>
    <tr>
      <th>Payment Date</th>
      <td>{{ application?.paymnetDate | formatTimeAmPm }} </td>
    </tr>
    <tr>
      <th>Initiated On</th>
      <td>{{ application?.createdDate | formatTimeAmPm }} </td>
    </tr>
    <tr>
      <th>Submitted On</th>
      <td>{{ application?.submittedDate | formatTimeAmPm }} </td>
    </tr>
    <tr>
      <th>View Full Application Details</th>
      <td class="text-center">
        <button 
          mat-raised-button
          class="bg-[#3e4e50] text-white"
          (click)="viewApplicationInFull()"
        >View All</button>
      </td>
    </tr>
  </tbody>
</table>
