.navbar-top {
  min-height: 25rem;
  min-width: 35rem;
  background-color: rgb(235, 193, 88);
  margin-left: 250px;
}
.nav-item-top {
  float: right;
}
.avatar-sm {
  width: 36px;
  height: 36px;
  font-size: 0.875rem;
}
.avatar {
  color: #fff;
  background-color: #adb5bd;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  border-radius: 50%;
  height: 38px;
  width: 38px;
}
.rounded-circle {
  border-radius: 50% !important;
}
.pr-0 {
  margin: 10px;
}
