<div class="setting-desk">
  <h2 class="page-title bg-teal-500 text-teal-800">
    APPLICATION DEPOT CONFIGURATION
  </h2>
  <div>
    <div class="table-group">
      <div class="table-wrapper">
        <generic-table
          [table_title]="tableTitles.depots"
          [title-color]="'teal'"
          [table_keysMappedToHeaders]="depotsKeysMappedToHeaders"
          [table_content]="appDepots"
          [table_controls_horizontal]="true"
          [noDeleteButton]="false"
          [noCheckControls]="false"
          [noTitle]="true"
          (onAddData)="onAddData($event, 'applicationDepots')"
          (onDeleteData)="onDeleteData($event, 'applicationDepots')"
          (onEditData)="onEditData($event, 'applicationDepots')"
        ></generic-table>
      </div>
    </div>
  </div>
</div>
