<div class="homeContainer">
  <div class="overlay">
    <ng-template #mainArea>
      <div class="main-area">
        <div class="logo-wrapper">
          <img src="assets/image/nmdpraLogo.png" alt="logo" />
          <h1>NMDPRA</h1>
        </div>
        <div class="buttons-wrapper">
          <div class="buttons-group">
            <button class="green">
              <a href="{{ elpsbase }}/Account/Login?appId={{ appid }}"
                >PORTAL LOGIN</a
              >
            </button>
            <button class="yellow">
              <a href="{{ elpsbase }}/Account/register?appId={{ appid }}"
                >REGISTRATION</a
              >
            </button>
          </div>
          <div class="buttons-group">
            <button class="blue">
              <a href="{{ elpsbase }}/Account/verifyPermit?appId={{ appid }}"
                >VERIFY CLEARANCE</a
              >
            </button>
            <button class="red">
              <a href="{{ elpsbase }}/permit/forgotPassword?appId={{ appid }}"
                >FORGOT PASSWORD</a
              >
            </button>
          </div>
        </div>
      </div>
    </ng-template>

    <div *ngIf="windowScreenSize <= 1216; else mainArea"></div>

    <div class="side-area">
      <div class="title-wrapper">
        <h2>CVC & CoQ PORTAL</h2>
        <h6 class="text-center">(COASTAL VESSEL CLEARANCE & CERTIFICATE OF QUANTITY PORTAL)</h6>
      </div>
      <div *ngIf="windowScreenSize > 1216; else mainArea"></div>
      <div class="cards-wrapper">
        <div class="card">
          <p>User Guide</p>
          <img src="assets/image/icon1.png" alt="logo" />
          <ul>
            <li><a href="">Online Application Guide</a></li>
            <li><a href="">Resend Activation Email</a></li>
            <li><a href="">Apply for Clearance</a></li>
            <li><a href="">FAQ</a></li>
          </ul>
        </div>
        <div class="card">
          <p>User Guide</p>
          <img src="assets/image/icon2.png" alt="logo" />
          <ul>
            <li><a href="">Create an account to use</a></li>
            <li><a href="">resources on this portal. Note</a></li>
            <li><a href="">that account creation is not</a></li>
            <li><a href="">required to validate clearance.</a></li>
          </ul>
        </div>
        <div class="card">
          <p>User Guide</p>
          <img src="assets/image/icon3.png" alt="logo" />
          <ul>
            <li><a href="">Login to apply for a new</a></li>
            <li><a href="">CVC clearance, STS transfer or</a></li>
            <li><a href="">manage your applications.</a></li>
          </ul>
        </div>
      </div>

      <div class="footer-wrapper">
        <div class="images-container">
          <img
            src="assets/image/visa.png"
            width="80px"
            height="48.44px"
            alt="visa icon"
          />
          <img
            src="assets/image/master-icon.png"
            width="80px"
            height="80px"
            alt="visa icon"
          />
          <img
            src="assets/image/verve.png"
            width="80px"
            height="80px"
            alt="visa icon"
          />
          <img
            src="assets/image/remita.png"
            width="80px"
            height="22.16px"
            alt="visa icon"
          />
        </div>

        <div class="others-container">
          <p>INTERNET BANKING</p>
          <p>MOBILE BANKING</p>
          <p>BANK BRANCHES</p>
        </div>
      </div>
    </div>
  </div>
</div>
